<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>QUESTIONS? </h2>
                <h2>CONTACT US!                </h2>
                <h3>ungleich GmbH </h3>
                <p><i class="fa fa-envelope-o"></i>  {{ email }}</p>
                <p>14 Hauptstrasse Luchsingen 8775</p>
                <p>Switzerland</p>
                 
                <button type="button" class="btn btn-default">
                <a href="https://twitter.com/ungleich">
                     <i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
                </button>
                  <button type="button" class="btn btn-default"> 
                  <a href="https://github.com/ungleich"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a></button>
            </div>

        </div>

    </div>
    <!-- /.container -->

</div>