{% load staticfiles %}

<a name="our"></a>
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Option 2 : Our infrastructure</h2>
                <p class="lead">We take care of everything for you! You don't need your infrastructure. We give you everything you need in {{ hosting_long }} hosting. Full root access, 24x7 support.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{% static 'hosting/img/dog.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>