{% load staticfiles %}

<a name="your"></a>
<div class="content-section-a" id="own">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"> Option 1 : Your own infrastructure</h2>
                <p class="lead">We configure your own infrastructure for {{ hosting_long }}. Keep the comfort and safety of being at your home, while we set things up for you.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'hosting/img/home.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>