{% load staticfiles i18n%}
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alplora.ch - Find your animal anywhere, anytime</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'alplora/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'alplora/css/pricing.css' %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static 'alplora/css/alplora.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'alplora/font-awesome/css/font-awesome.min.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'alplora/img/favicon.ico' %}" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
     </head>

 <body data-feedly-mini="yes">
   
<script async src="//www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62285904-5', 'auto');
  ga('send', 'pageview');

</script>



    <!-- Navigation -->
<div class="page-loader">
    <div class="loader">
      <div class="circle circle-1"></div>
      <div class="line line-1"></div>
      <div class="circle circle-2"></div>
      <div class="line line-2"></div>
      <div class="circle circle-3"></div>
      <div class="line line-3"></div>
      <div class="circle circle-4"></div>
      <div class="line line-4"></div>
      <div class="circle circle-5"></div>
    </div>
</div> 


<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="{% url 'alplora:index' %}"><img src="{% static 'alplora/img/logo_black.svg'%}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/alplora#about" data>About</a>
                </li>
                <li>
                    <a href="/alplora#usecase">Usecase</a>
                </li>
               <li>
                    <a href="/alplora#why">Why Alplora?</a>
                </li>
                <li>
                    <a href="/alplora#testimonials">Testimonials</a>
                </li>
                <li>
                    <a href="/alplora#contact">Contact</a>
                </li>
                <li>
                    <a href="/alplora#login">Login</a>
                </li>            
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<section class="section-login intro-login">
	<div class="box-login">
		<img src="{% static 'alplora/img/logo_black.svg'%}">
		<div class="title">
			<h1>Login</h1>
		</div>
		<div class="description">
			Welcome
		</div>
		<div class="form">
			<form action="">
				 <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				  </div>
				  <div class="form-group">
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				
			</form>
			
		</div>
		<div class="text"><span>By loggin in you agree to our <a href="#">Terms of Service</a></span></div>
		<div class="btn-login">
			<button class="submit btn btn-red btn-login btn-round" type="submit">
				<span>Login</span>
			</button>
		</div>
		<div class="text"><span>Forgot Password <a href="#">Find ID/Password</a></span></div>
		<div class="text"><span>Not a member yet? <a href="#">Sign up</a> now</span></div>
	</div>

</section>
    <!-- Header -->
    


<footer>
    <div class="container">
      <div class="row">
            <div class="col-md-6">
               
                <h3>Alplora </h3>
                <p><i class="fa fa-envelope-o"></i>  info@alplora.ch</p>
                <p>In der Au 7 Schwanden 8762</p>
                <p>Switzerland</p>
                 

                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                        <a href="#about">About</a></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                        <a href="#about">Usecase</a></li>
                    <li>⋅</li>
                    <li>
                        <a href="#about">Why Alplora?</a></li>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                        <a href="#services">Testimonials</a>
                    </li>
                    <li class="footer-menu-divider">⋅</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 footer-links">
               
               <a href="http://www.ungleich.ch" target="_blank"><img src="{% static 'alplora/img/ungleich_logo.svg'%}"></a>
               <a href="http://www.digitalglarus.ch" target="_blank"> <img src="{% static 'alplora/img/digitalglarus_logo.svg'%}"></a>
               <a href="https://www.adnexo.ch" target="_blank"> <img src="{% static 'alplora/img/adnexo_logo.svg'%}"></a>
             
            </div>
        </div>
         <p class="copyright text-muted small">Copyright © Alplora 2017. All Rights Reserved</p>
    </div>
</footer>

   
    

    <!-- Lodash -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js"></script>

    <!-- jQuery -->
    <script src="{% static 'alplora/js/jquery.js' %}"></script>

    <!-- Pricing -->
    <script src="{% static 'alplora/js/pricing.js' %}"></script>

    <!-- Images loaded -->
    <script type="text/javascript" src="{% static 'alplora/js/imagesloaded.pkgd.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'alplora/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'alplora/js/main.js' %}"></script>
    

    </body>
</html>