{% load staticfiles %}
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'digitalglarus/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digitalglarus/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link href="{%  static 'digitalglarus/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digitalglarus/bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-muted">You're successfully registered!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center text-muted">
              <br>Check your email to activate your account.</p>
            <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-primary" href="{% url 'login_glarus' %}">Back</a>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>


</body></html>