{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'digitalglarus/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'digitalglarus/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link href="{%  static 'digitalglarus/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'digitalglarus/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% if request.session.next == None %}
    <script>
        type = "text/javascript" >
                setTimeout(function () {
                    window.location.href = "/";
                }, 5000);
    </script>
    {% endif %}
</head>
<body>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-muted">
                    {% if msg %}
                        Email verified!<br> <p>redirecting...</p>
                    {% else %}
                        <p>Email not verfied!</p>
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>
</div>


</body>
</html>