{% extends "new_base_glarus.html" %}
{% load staticfiles cms_tags %}
{% block title %}crowdfunding{% endblock %}

{% block content %}


<style type="text/css">

@media screen and (max-width: 600px) {

  #timeline{
    display: none;
  }
  h2 {font-size: 2em !important;}

}

</style>

<!-- Header -->
    <header class="history">
      <div class="container header-history">
        <div class="intro-text">
          <p>
           </p>
             <div class="intro-headline">
               <span class="intro-headline">
                  Where great minds work
               </span>
             </div>
        </div>
      </div>
     </div>
    </header>
<!-- form section ends-->
    <!-- Services Section -->
    <section id="history">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-lg-12 col-md-12 text-center wow fadeInDown">
            <span class="glyphicon glyphicon-star glyphicon-inverse"></span>
            <h2 class="section-heading">the story of Digital Glarus</h2>

              <p class="carousel-text text-center supporter-black">
              In search for a better environment for creativity, ungleich
              arrived at a small village in Glarus. First we were driven by the
              cheap real estate price, then we were genuinely surprised by the        beauty of its nature. People were incredibly friendly as well.        Working just became so relaxed and enjoyable in such a beautiful
               surrounding..How come we are the only ones here?! We can't be
               enjoying this alone, we need to let others know about this great
               place. That's how it all started...
               </p>
              <span class="glyphicon glyphicon-heart glyphicon-inverse"></span>
               <h2 class="section-heading">we fell in love</h2>

              <p class="carousel-text text-center supporter-black">
              We didn't see this coming, but we really fell in love with Glarus.        The lakes, the mountains, the mist, the (amazing) snow,
              the fresh air, the stream, the people, the stars...how could we        not? And before long, we found an 100 something years old house,
              formerly a family home, but long time unused, next to a river in
              Schwanden. Full of old furniture, the house and the neighborhood
              was stepping in a time machine. There, we found our first
              coworking space in Glarus.</p>
               <span class="glyphicon glyphicon-home glyphicon-inverse"></span>
               <h2 class="section-heading">Our crowdfunding success</h2>

               <p class="carousel-text text-center supporter-black">
              What comes with a very old house? Lots of charm, yes. Great
              history, yes. A contract stating that we can park our goats in the
              storage room, yes. And, yes, tons of things to be fixed. We
              couldn't afford much of renovation-we are a young start up rich
              with creativity but not much money (yet)-that is why we decided to        ask for help. To our surprise, generous people found hope and
              inspiration from our project. We got much supports from people we
              know and we don't know. People wrote to us, called us, met us. We
              were on the cover of newspaper. We were on TV. We became the talk
              of the town.
              </p>


              <div><iframe class="center-block" frameborder="0" height="330" scrolling="no" src="//www.100-days.net/de/projekt/start-digital-glarus/widget/v2" width="220"></iframe></div>
              <span class="glyphicon glyphicon-road glyphicon-inverse"></span>
              <h2 class="section-heading text-cente">And the story continues..!</h2>
              <p class="carousel-text text-center supporter-black">
              With the money we raised from our crowdfunding campaign, we
              started renovating the hourse, ripping floors off and fixing
              walls, giving a fresh coat of paint on old walls. We hired Samuel,
              who came to Glarus as a refugee from Eritrea, as our intern to
              renovate the house and learn computer science. We opened our door        for students to live. Our coworking space is growing slowly but
              meaningfully. Our journey only started!
              </p>
              <hr class="primary">
          </div>
        </div>
      </div>
    </section>

    <!-- Half Page Image Background Carousel -->
    <section>
      <div id="timeline">
        <iframe frameborder="0" width="100%" height="650" src="//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=15clFd1fjnVScVziBlF-X7j5M7V6uNFt9jt9QZVylaYI&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=650" width="100%"></iframe>
      </div>

    </section>
    <!-- Supporters -->
    <section id="supporters">
    <div class="supporter-bg">
    <div class="container">
    <div class="col-lg-12 text-center wow fadeInDown">
      <h2 class="supporter-headline">Our Supporters</h2>
        <hr class="primary">
        <p class="carousel-text supporter-intro text-muted text-center">         Here are our proud supporters of project Digital Glarus. Thanks to our supporters, the first cowerking space in Glarus
        is going to have a new look!</p>
    <p class="supporter" style="text-transform: uppercase;">

    {% for supporter in supporters %}
        {{ supporter.name }}
        <br>
    {% endfor %}
       <br>
       <a href="{% url 'digitalglarus:supportus' %}" class="btn btn-default btn-primary sr-button">Become a supporter</a>
       <br>
       <br>
       <br>
       <br>
  </div>
      </div>
      </div>
    </section>


    <section id="contact">
      <div class="fill">
       <div class="row" class="wow fadeInDown">
        <div class="col-lg-12 text-center wow fadeInDown">
          <div class=" map-wrap">
          <iframe style="margin-top:20px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2721.4267495037207!2d9.070190915609343!3d46.99259307914885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47852e9322cc1971%3A0xf1558647dfdfaa60!2sIn+der+Au+7%2C+8762+Glarus+S%C3%BCd!5e0!3m2!1sen!2sch!4v1470238006004" width="100%" height="450" frameborder="0" style="border:0"></iframe>
          </div>
            <div class="col-md-4 map-title">
              Digital Glarus<br>
              <span class="map-caption">In der Au 7 Schwanden 8762 Switzerland
              <br>info@digitalglarus.ch
              <br>
              (044) 534-66-22
              <p>&nbsp;</p>
              </span>
            </div>
             <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}