{% extends "new_base_glarus.html" %}
{% load staticfiles bootstrap3 i18n %}
{% block content %}

<style type="text/css">


	cancel-subscription-modal .modal-body {
		max-height: 10000px;
	}
	
	.price2 {
	

    -webkit-background-size: cover;
    -moz-background-size: cover;
	

}


</style>

   <link rel="stylesheet" href="../dist/remodal.css">
  <link rel="stylesheet" href="../dist/remodal-default-theme.css">
  <section id="price">
    <div class="signup-container">
	    <div class="col-xs-12 col-sm-3 col-lg-4 text-center wow fadeInDown"> </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 text-center wow fadeInDown"> 
        <div class="signup-box">
          <span class="glyphicon glyphicon-user"></span>
          <h2 class="section-heading">Log In</h2>
          {% if not messages %}
            <h2 class="signup-lead">Welcome!<br></h2>
          {% endif %}
          

          {% if messages %}
              <ul class="list-unstyled">
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}

          <hr class="primary">

          {% block messages %}
              {% if request.GET.logged_out %}
                      <div class="alert">  <!-- singular -->
                          <a class="close" data-dismiss="alert">×</a>
                          {% trans "You haven been logged out"%}
                      </div>
              {% endif %}
          {% endblock %}
          
          <div class="signup-form form-group row">
            <form action="{% url 'digitalglarus:login' %}" method="post" class="form" novalidate>
              {% csrf_token %}
              <input type="hidden" name="" value="{{ request.GET.next }}">
              {% for field in form %}
                  {% bootstrap_field field show_label=False type='fields'%}
              {% endfor %}
              <p>{{form.non_field_errors|striptags}}</p>
         
              <p class="signup-notice">By logging in you agree to our<a data-toggle="modal" data-target="#cancel-subscription-modal" target="_blank">Terms of Service</a>.</p>
			  
			
			  
              <button type="submit" class="btn btn-primary btn-blue">Login</button>
            </form>
            <br>
            <div class="notice-box">
               <p class="signup-text">Forgot password?<a href="{% url 'digitalglarus:reset_password' %}">Find ID/Password</a></p>
               <p class="signup-text">Not a member yet?<a href="{% url 'digitalglarus:signup' %}?{{request.GET.next}}">Sign up </a>now.</p>
            </div>
          </div>
        </div>       
        <div class="col-xs-12 col-sm-3 col-lg-4 text-center wow fadeInDown">
        </div>
      </div>
    </div>    
  </section> 
  
  <section id="contact">
    <div class="fill">
     <div class="row" class="wow fadeInDown">
      <div class="col-lg-12 text-center wow fadeInDown">
          <div class="col-md-4 map-title">
            Digital Glarus<br>
            <span class="map-caption">In der Au 7 Schwanden 8762 Switzerland
            <br>info@digitalglarus.ch
            <br>
            (044) 534-66-22
            <p>&nbsp;</p>
            </span>
          </div>
           <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </section>
  

<div class="modal fade bs-example-modal-sm" id="cancel-subscription-modal" tabindex="-1" role="dialog" aria-hidden ="true">

    <div class="modal-dialog" role="document">
	
        <div class="row col-xs-18 col-sm-12 col-lg-20 modal-content">
		
            <div class="modal-body">
		
                <section id="price2">
					<div class="row col-xs-12 col-sm-7 col-lg-6 container">
						
								<!--<div class="row col-md-2 text-center wow fadeInDown"></div> -->
						<div class="row col-xs-12 col-sm-7 col-lg-6 text-center wow fadeInDown">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	   <div class="price-box">
	  
       <span class="glyphicon glyphicon-flag"></span>
        <h2 class="section-heading">General Terms & Conditions of Digital Glarus Membership</h2>
         <h2 class="price">Valid from 31 October 2016, v1.0 dated 31 October 2016</h2>
         <hr class="primary">
            <div class="price-exp-box">
                <p class="text-center">
                <p class="term-head">1. Membership</p>
                1.1. The membership fee is 35CHF per month and charged on the 1st day of each month after your first month of subscription. <br>
                1.2. Each additional day costs 15CHF for members.<br>
               <br>
                <p class="term-head">2. Coworking days</p> 
                2.1. Coworking days are counted as 1 calendar day. <br> 
                2.2. Free coworking days are included in the membership. <br>
                2.3. Unused working days are not refunded and can not be compensated for. <br><br>
                 <p class="term-head">3. Possible reduction</p>
                  3.1. Your first month's membership fee is calculated according to the date of your subscription. <br>
                  3.2. The days already passed in the first month are discounted from the first month's membership fee.<br>
                  3.3. A member booking more than 19 days for coworking gets a reduction in total cost and will only pay maximum 290CHF per month. The reduction will be applied automatically on Digital Glarus website.<br><br>
                  <p class="term-head">4. Member's right to cancellation </p>
                  4.1. The member may cancel or change the booking of working day at any time prior to 7 days before the working day with no extra cost. <br>
                  4.2. Bookings cancelled less than 7 days before the working date will not be refunded.<br><br>
                  <p class="term-head">5. Digital Glarus' right to cancel a membership </p>
                  5.1. Digital Glarus may cancel a membership contract without notice at any time, stating the reasons for the cancellation.<br>
                  5.2. Members disrupting the environment of coworking may be rejected to join the membership.<br><br>
                  <p class="term-head">6. Digital Glarus' right to cancel a membership </p>
                  6.1. Digital Glarus may cancel a membership contract without notice at any time, stating the reasons for the cancellation.<br>
                  6.2. Digital Glarus may reject a member who disrupts the environment of coworking space from joining the membership.<br> 
                  6.3. Digital Glarus may terminate the membership of a member who disrupts the environment of coworking space.  <br> 
                  6.4. Digital Glarus may expell a member who disrupts the environment of coworking space from the coworking space, stating the reasons for the expulsion. 
                <br><br>
              
                </p>
                <div class="row col-xs-12 col-sm-7 col-lg-6 text-center">
					<a href="mailto:info@ungleich.ch" class="btn btn-primary btn-blue">Still have a question?</a>
              </div>
              <div class="row col-md-2 text-center wow fadeInDown"> 
              </div>
                    </div>
              
       </div>        
      </div>
      <div class="row col-md-3 text-center wow fadeInDown"></div>
    </div> 
  </section> 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	
	
	

  
  
  
{% endblock %}