{% extends "new_base_glarus.html" %}
{% load staticfiles cms_tags bootstrap3%}
{% block title %}crowdfunding{% endblock %}

{% block content %}

  <section id="price">
    <div class="signup-container">
      <div class="col-xs-12 col-sm-3 col-lg-4 text-center wow fadeInDown"> </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 text-center wow fadeInDown"> 
        <div class="payment-box">
            <h2 class="billing-head">Reset Password</h2> 
            <hr class="greyline-long">
            <h2 class="membership-lead">To have your password reset, enter your email address below. 
                                       We will then send an email containing a link to reset your password.</h2>

            <div class="signup-form form-group row">
                <form action="{% url 'digitalglarus:reset_password' %}" method="post" class="form" novalidate>
                  {% csrf_token %}
                  {% for field in form %}
                      {% bootstrap_field field show_label=False type='fields'%}
                  {% endfor %}
                  <p>{{form.non_field_errors|striptags}}</p>

                    <button type="submit" class="btn btn-primary btn-blue">Send Email</button>
                </form>
                <br>
                <div class="notice-box">
					<p class="signup-text">Still have trouble? For technical support <a href="mailto:info@ungleich.ch" > Contact us </a>.</p>
					
                </div>
            </div>

        </div>       
        <div class="col-xs-12 col-sm-3 col-lg-4 text-center wow fadeInDown"></div>
      </div>
    </div> 
  </section> 

  <section id="contact">
    <div class="fill">
     <div class="row" class="wow fadeInDown">
      <div class="col-lg-12 text-center wow fadeInDown">
          <div class="col-md-4 map-title">
            Digital Glarus<br>
            <span class="map-caption">In der Au 7 Schwanden 8762 Switzerland
            <br>info@digitalglarus.ch
            <br>
            (044) 534-66-22
            <p>&nbsp;</p>
            </span>
          </div>
           <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}