{% extends "digitalglarus/base.html" %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="box">
        <img class="img-responsive img-full" src="{% static 'digitalglarus/img/thank-you.png' %}" alt="">
        <div class="col-lg-12">
            <hr>
            <h2 class="text-center">
                Supporters
            </h2>
            <hr>
        </div>
        <div class="col-md-12">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="col-md-12">
            <div class="text-center">
              {% for supporter in supporters %}
                <div class="caption">
                  <h3>{{supporter.name}}</h3>
                </div>
              {% endfor %}
              <hr>
              <a class="btn btn-default" href="{% url 'digitalglarus:support' %}" role="button">BECOME A SUPPORTER</a>
            </div>            
            
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /.container -->

{% endblock %}
