{% extends "new_base_glarus.html" %}
{% load staticfiles cms_tags bootstrap3%}
{% load staticfiles bootstrap3 i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digital Glarus</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/lib/animate.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link href="css/ungleich.css" rel="stylesheet" type="text/css">
    <link href="css/history.css" rel="stylesheet" type="text/css">
    <link href="css/price.css" rel="stylesheet" type="text/css">
    </link>
    <!-- Google tracking -->
    <script src="//www.google-analytics.com/analytics.js" async></script><script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62285904-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <style id="igtranslator-color" type="text/css"></style></head>

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
      <div class="container" style="margin-right: -; margin-left: 0px;margin-right: 0px;">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header page-scroll">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <p><a class="navbar-brand page-scroll" href="#page-top"><img src="/static/digitalglarus/img/logo_white.svg"></a></p>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="hidden active">
	      <a href="#page-top"></a>
	    </li>
	   <!-- <li>
	      <a class="page-scroll" href="#services">membership</a></li>
	    <li></li>
	    <li></li>
	    <li> </li> -->
	    <li>
	      <a class="page-scroll" href="{% url 'digitalglarus:booking' %}">booking & price</a></li>
	    <li>
	      <a class="page-scroll" href="{% url 'digitalglarus:history' %}">history</a>
	    </li>
	    <li>
	      <a class="page-scroll" href="http://blog.ungleich.ch">BLOG</a>
	    </li>
	    <li>
	      <a class="page-scroll" href="#contact">Contact</a>
	    </li>
        <li>
	      <a class="page-scroll" href="{% url 'digitalglarus:login' %}">Log In</a>
	    </li>
         <li>
	      <a class="page-scroll" href="#contact">Sign Up</a>
	    </li>
	  </ul>
	</div>
	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

  
    <!-- Services Section -->
  <section id="price">
    <div class="container">
     <div class="row col-md-2 text-center wow fadeInDown"></div> 
    <div class="row col-md-8 text-center wow fadeInDown">
       <div class="price-box">
       <span class="glyphicon glyphicon-flag"></span>
        <h2 class="section-heading">General Terms & Conditions of Digital Glarus Membership</h2>
         <h2 class="price">Valid from 31 October 2016, v1.0 dated 31 October 2016</h2>
         <hr class="primary">
            <div class="price-exp-box">
                <p class="text-left">
                <p class="term-head">1. Membership</p>
                1.1. The membership fee is 35CHF per month and charged on the 1st day of each month after your first month of subscription. <br>
                1.2. Each additional day costs 15CHF for members.<br>
               <br>
                <p class="term-head">2. Coworking days</p> 
                2.1. Coworking days are counted as 1 calendar day. <br> 
                2.2. Free coworking days are included in the membership. <br>
                2.3. Unused working days are not refunded and can not be compensated for. <br><br>
                 <p class="term-head">3. Possible reduction</p>
                  3.1. Your first month's membership fee is calculated according to the date of your subscription. <br>
                  3.2. The days already passed in the first month are discounted from the first month's membership fee.<br>
                  3.3. A member booking more than 19 days for coworking gets a reduction in total cost and will only pay maximum 290CHF per month. The reduction will be applied automatically on Digital Glarus website.<br><br>
                  <p class="term-head">4. Member's right to cancellation </p>
                  4.1. The member may cancel or change the booking of working day at any time prior to 7 days before the working day with no extra cost. <br>
                  4.2. Bookings cancelled less than 7 days before the working date will not be refunded.<br><br>
                  <p class="term-head">5. Digital Glarus' right to cancel a membership </p>
                  5.1. Digital Glarus may cancel a membership contract without notice at any time, stating the reasons for the cancellation.<br>
                  5.2. Members disrupting the environment of coworking may be rejected to join the membership.<br><br>
                  <p class="term-head">6. Digital Glarus' right to cancel a membership </p>
                  6.1. Digital Glarus may cancel a membership contract without notice at any time, stating the reasons for the cancellation.<br>
                  6.2. Digital Glarus may reject a member who disrupts the environment of coworking space from joining the membership.<br> 
                  6.3. Digital Glarus may terminate the membership of a member who disrupts the environment of coworking space.  <br> 
                  6.4. Digital Glarus may expell a member who disrupts the environment of coworking space from the coworking space, stating the reasons for the expulsion. 
                <br><br>
              
                </p>
                <div class="text-center">
              <button type="submit" class="btn btn-primary btn-blue">Still have a question?</button>
              </div>
              <div class="row col-md-2 text-center wow fadeInDown"> 
              </div>
                    </div>
              
       </div>        
      </div>
      <div class="row col-md-3 text-center wow fadeInDown"></div>
    </div> 
  </section> 
      <!--membership includes-->
     
	    <!--<div class="col-md-6 col-sm-6 text-center wow fadeInDown">
         <div class="price-box">
	       <h2 class="section-heading">Monthly Membership</h2>
              <hr class="primary">
                <p class="carousel-text text-center supporter-black">
                  -35 CHF / month
                  <br>
                Access to events, which lets you connect with. Includes 2 
                day passes. Access to any available desk in the common 
                area. Just bring your laptop, pick an open seat, and get 
                to work. 
                </p> 
                  <button type="submit" class="btn btn-primary">sign up</button>
         </div>
        </div>
        
        <div class="col-md-6 col-sm-6 text-center wow fadeInDown">
          <div class="price-box">
             <h2 class="section-heading">Day Pass</h2>
                <hr class="primary">
                   <p class="carousel-text text-center supporter-black">
                     - 15 CHF / day<br>
                      Access to events, which lets you connect with. 
                      Includes 2 day passes. Access to any available desk 
                      in the common area. Just bring your laptop, pick an 
                      open seat, and get to work. </p>
                       <button type="submit" class="btn btn-primary">sign up</button>
          </div>
        </div>--> 
    <!-- contact-->
    <section id="contact">
      <div class="fill">
       <div class="row col-lg-12" class="wow fadeInDown">
	     <div class="col-md-4 map-title">
          Digital Glarus <br>
            <span class="map-caption">In der Au 7 Schwanden 8762 Switzerland
             <br>info@digitalglarus.ch
              <br>
              (044) 534-66-22
	           <p>&nbsp;</p>
            </span>
	     </div>
	      <p>&nbsp;</p>
	   </div>
      </div> 
    </section>

 <!--    <footer>
      <div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <span class="copyright">Copyright © ungleich GmbH 2016</span>
	      </div>
	      <div class="col-md-4">
	         <ul class="list-inline social-buttons">
	           <li><a href="https://twitter.com/ungleich"><i class="fa fa-twitter"></i></a>
	            </li>
	           <li><a href="https://github.com/ungleich"><i class="fa fa-github"></i></a>
	            </li>
	           <li><a href="https://www.linkedin.com/company/ungleich-gmbh?trk=nav_account_sub_nav_company_admin/"><i class="fa fa-linkedin"></i></a>
	            </li>
                   <li><a href="https://www.facebook.com/digitalglarus/"><i class="fa fa-facebook"></i></a>
	            </li>
	         </ul>
	      </div>
	      <div class="col-md-4">
	         <ul class="list-inline quicklinks">
	           <li><a href="http://www.ungleich.ch/">ungleich Home</a>
	           </li>
	         </ul>
	      </div>
	    </div>
      </div>
    </footer> -->

   
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="./js/lib/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

    <script src="js/ungleich.js"></script>


    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 
    <link href="//fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
</html>
{% endblock %}