git
build-essential
autoconf
imagemagick
libbz2-dev
libcurl4-openssl-dev
libevent-dev
libffi-dev
libglib2.0-dev
libjpeg-dev
liblzma-dev
libmagickcore-dev
libmagickwand-dev
libncurses-dev
libpq-dev
libreadline-dev
libssl-dev
libxml2-dev
libxslt-dev
libyaml-dev
zlib1g-dev
python3-dev
virtualenvwrapper
libzmq-dev
libevent-dev
nginx
libncurses-dev
postgresql
postgresql-client-9.4
postgresql-server-dev-9.4
memcached
libmemcached-dev
libxml2-dev
libxslt1-dev
python3-lxml
libfreetype6
libfreetype6-dev
zlib1g-dev
libtiff5-dev
libjpeg62-turbo-dev
zlib1g-dev
libfreetype6-dev
liblcms2-dev
libwebp-dev
tcl8.6-dev
tk8.6-dev
python-tk
libmemcached
libmemcached-dev
