# lib
psycopg2>=2.6
Pillow>=2
html5lib==0.999
six==1.3.0 #compat
python-memcached

# django
django==1.7.8

#django-assets
django-bootstrap3
lesscpy
django_compressor

# django apps
django-treebeard==3.0
django-sekizai==0.7
django-classy-tags==0.5
django-filer==0.9.9
django-reversion

# django-cms
django-cms

# django-cms-plugins
djangocms-admin-style==0.2.5
djangocms-text-ckeditor>=2.4
-e git+git@github.com:applegrew/django-select2.git#egg=django-select2-py3
djangocms-blog>=0.4.0

djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-teaser

djangocms-link
djangocms-snippet
djangocms-style
djangocms-column
djangocms-grid
djangocms-oembed
djangocms-table

cmsplugin-filer==0.10.1

# production
-e git+git@github.com:circus-tent/circus.git#egg=circus
circus-web
chaussette
meinheld
gevent

# djangocms-page-meta
djangocms-page-meta
