#libevent-dev
#libncurses-dev
autoconf
build-essential
git
imagemagick
libbz2-dev
libcurl4-openssl-dev
libevent-dev
libffi-dev
libfreetype6
libfreetype6-dev
libglib2.0-dev
libjpeg-dev
libjpeg62-turbo-dev
liblcms2-dev
liblzma-dev
libmagickcore-dev
libmagickwand-dev
libmemcached
libmemcached-dev
libncurses-dev
libpq-dev
libreadline-dev
libssl-dev
libtiff5-dev
libwebp-dev
libxml2-dev
libxslt-dev
libxslt1-dev
libyaml-dev
libzmq-dev
memcached
nginx
postgresql
postgresql-client-9.4
postgresql-server-dev-9.4
python-tk
python3-dev
python3-lxml
tcl8.6-dev
tk8.6-dev
virtualenvwrapper
zlib1g-dev
