Django==1.9.4
wheel
django-bootstrap3
django-cms
django-compressor
django-filter
django-taggit
django-taggit-autosuggest
django-taggit-templatetags
django-templatetag-sugar
django-model-utils
djangocms-blog
django-dotenv
psycopg2
django-mptt
easy_thumbnails
django-polymorphic

#PLUGINS
djangocms_flash
djangocms_googlemap
djangocms_inherit
djangocms_link
djangocms_teaser
djangocms_page_meta
djangocms_text_ckeditor
djangocms_file
djangocms_picture
djangocms_video

#PAYMENT
stripe

django-treebeard
django-sekizai
django-classy-tags
djangocms-admin-style
html5lib
six

# Optional, recommended packages
Pillow>=2
django-filer
cmsplugin-filer
django-reversion

