# lib
psycopg2==2.6
Pillow==2.8.1
html5lib==0.999
six==1.3.0
python-memcached==1.54

# django
django==1.7.8

#django-assets
django-bootstrap3==5.4.0
lesscpy==0.10.2
django-compressor==1.5

# django apps
django-treebeard==3.0
django-sekizai==0.7
django-classy-tags==0.5
django-filer==0.9.9
django-reversion==1.8.7

# django-cms
django-cms==3.1.0

# django-cms-plugins
djangocms-admin-style==0.2.5
djangocms-text-ckeditor==2.5.2
-e git+git@github.com:applegrew/django-select2.git#egg=django-select2-py3
djangocms-blog==0.4.0

djangocms-flash==0.2.0
djangocms-googlemap==0.2
djangocms-inherit==0.1
djangocms-teaser==0.1

djangocms-link==1.6.1
djangocms-snippet==1.5
djangocms-style==1.5
djangocms-column==1.5
djangocms-grid==1.2
djangocms-oembed==0.5
djangocms-table==1.2

cmsplugin-filer==0.10.1

# production
circus==0.11.1
circus-web==0.5
chaussette==1.2
meinheld==0.5.7
## The following requirements were added by pip freeze:
aldryn-blog==0.4.6
aldryn-boilerplates==0.7
aldryn-common==0.1.3
aldryn-search==0.2.7
anyjson==0.3.3
cssselect==0.9.1
django-admin-enhancer==1.0.0
django-appconf==1.0.1
django-appdata==0.1.4
django-haystack==2.3.1
django-hvad==1.2.1
django-meta==0.2.1
django-meta-mixin==0.1.1
django-mptt==0.6.1
django-parler==1.4
django-polymorphic==0.7.1
-e git+git@github.com:applegrew/django-select2.git@7850d52b648eaa6748f1640edbc9897114e4b3ac#egg=Django_Select2-master
django-sortedm2m==0.10.0
django-spurl==0.6
django-standard-form==1.1.1
django-taggit==0.14.0
django-taggit-autosuggest==0.2.7
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
easy-thumbnails==2.2
greenlet==0.4.7
iowait==0.2
lxml==3.4.4
Mako==1.0.1
MarkupSafe==0.23
micawber==0.3.2
ply==3.6
psutil==2.2.1
pyquery==1.2.9
pytz==2015.4
pyzmq==14.6.0
simplejson==3.7.2
South==1.0.2
tomako==0.1.0
TornadIO2==0.0.4
tornado==4.2
Unidecode==0.4.17
URLObject==2.4.0
YURL==0.13
