{% extends "datacenterlight/includes/_calculator_form.html" %}
{% load i18n%}
{% block hdd_config %}
    <div class="form-group">
        <div class="description input">
            <i class="fa fa-minus-circle left" data-minus="hdd_storage" aria-hidden="true"></i>
            <input id="hddStorageValue" class="input-price select-number" type="number" min="0" max="2000" step="10"
                   name="hdd_storage" data-error="{% trans 'Please enter a value in range 0 - 2000.' %}" required>
            <span>{% trans "GB Storage (HDD)" %}</span>
            <i class="fa fa-plus-circle right" data-plus="hdd_storage" aria-hidden="true"></i>
        </div>
        <div class="help-block with-errors">
            {% for message in messages %}
                {% if 'hdd_storage' in message.tags %}
                 <ul class="list-unstyled"><li>
                    {{ message|safe }}
                </li></ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}