{% load i18n %}

<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
               <a class="url-init" href="https://{{MULTISITE_CMS_FALLBACK}}">{% trans "Home" %}</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a class="url-init" href="https://{{MULTISITE_CMS_FALLBACK}}#contact">{% trans "Contact" %}</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a class="url-init" href="https://{{MULTISITE_CMS_FALLBACK}}/cms/terms-of-service">{% trans "Terms of Service" %}</a>
            </li>
        </ul>

        <p class="copyright text-muted small">Copyright &copy; ungleich glarus ag {% now "Y" %}. {% trans "All Rights Reserved" %}</p>
    </div>
</footer>
