{% load staticfiles i18n%}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-default navbar-fixed-top topnav">
    <div class="topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'datacenterlight:index' %}" id="logoBlack" class="navbar-brand topnav"><img src="{% static 'ungleich_page/img/logo_black.svg' %}"></a>
            <a href="{% url 'datacenterlight:index' %}" id="logoWhite" class="navbar-brand topnav"><img src="{% static 'ungleich_page/img/logo_white.svg' %}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Start Navbar collapse-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#services">{% trans "Technische Details" %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">{% trans "Wie funktioniert es?" %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">{% trans "CONTACT" %} </a>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
</nav>
