{% load staticfiles meta cms_tags %}
{% load i18n %}

<section id="contact">
    <div class="bg_img" style="background-image:url({% static 'digitalglarus/img/header_bg_2.png' %})"></div>
    <div class="container">
        <div class="wow fadeInDown">
            <div class="text-center wow fadeInDown">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                            autofocus><span aria-hidden="true">&times;</span></button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
                <h2 class="section-heading">{% trans "Contact Us" %}</h2>
                <h3 class="intro-smallcap sm_left" style="line-height: 1.2;">
                    {% trans "Join us at" %} <a href="{% url 'digitalglarus:landing' %}">{% trans "Digital Glarus" %}</a>, {% trans "a great co-working space in the middle of Alps!" %} <br>
                    {% trans "You can contact us at" %}
                </h3>
                <h3 class="intro-smallcap sm_left">
                    <a href="mailto:info@ungleich.ch"><i class="fa fa-envelope"></i> info@ungleich.ch</a>
                </h3>

                <h3 class="intro-smallcap sm_left"><i class="fa fa-phone"></i> (044) 534-66-22</h3>
                <!-- <h3 class="intro-smallcap">{% trans "or" %}</h3> -->

                <!-- <h3 class="intro-smallcap">{% trans "Contact Us" %}</h3> -->

<!--                 <form action="{% url 'ungleich_page:contact' %}" method="post">

                    {% csrf_token %}
                    <div class="row">
                        <div autofocus
                             class="form-group col-lg-4 {% if form.name.errors %}has-error text-danger{% endif %}">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors|striptags }}
                        </div>
                        <div class="form-group col-lg-4 {% if form.email.errors %}has-error text-danger {% endif %}">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors|striptags }}
                        </div>
                        <div class="form-group col-lg-4 {% if form.phone_number.errors %}has-error text-danger {% endif %}">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                            {{ form.phone_number.errors|striptags }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12 {% if form.message.errors %}has-error text-danger {% endif %}">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                            {{ form.message.errors|striptags }}
                        </div>
                        {{ form.non_field_errors }}
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="submit" class="btn btn-default" {% if form.name.errors %}
                                    autofocus {% endif %}>{% trans "Submit" %}</button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</section>