{% load staticfiles i18n %}

<footer>
	<div class="container">
		<div class="row">
		  <div class="col-md-4">
		    <span class="copyright">{% trans "Copyright © ungleich GmbH " %} {% now "Y" %}</span>
		  </div>
		  <div class="col-md-4">
		    <ul class="list-inline social-buttons">
		      <li>
		      	<a href="https://twitter.com/ungleich"><i class="fa fa-twitter"></i></a>
		      </li>
		      <li>
		      	<a href="https://github.com/ungleich"><i class="fa fa-github"></i></a>
		      </li>
		      <li>
		      	<a href="https://www.linkedin.com/company/ungleich-gmbh?trk=nav_account_sub_nav_company_admin/"><i class="fa fa-linkedin"></i></a>
		      </li>
		    </ul>
		  </div>
		  <div class="col-md-4">
		    <ul class="list-inline quicklinks">
		      <li>
		      	<a href="https://www.ungleich.ch/">{% trans "ungleich Home" %}</a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</footer>