{% load static i18n %}

<header class="header_slider">
  <div id="carousel-header-ungleich" class="carousel slide" data-ride="carousel" data-interval="2000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-header-ungleich" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-header-ungleich" data-slide-to="1"></li>
      <li data-target="#carousel-header-ungleich" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="bg_img" style="background-image:url({% static 'ungleich_page/img/header-bg.jpg' %})"></div>
        <div class="container">
          <div>
            <img src="{% static 'ungleich_page/img/logo_200x200.svg'%}" heigh="300" alt="" class="logo-image" img-responsive="" width="300">
            <div class="intro-cap">
              {% trans "We  Design, Configure &amp; Maintain <br> Your Linux Infrastructure " %}
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="bg_img" style="background-image:url({% static 'ungleich_page/img/glasfaser/header-nico-sans.jpg' %})"></div>
        <div class="container">
          <div class="intro-cap">
            {% trans "We  Design, Configure &amp; Maintain <br> Your Linux Infrastructure " %}
          </div>
        </div>
      </div>
      <div class="item">
        <div class="bg_img" style="background-image:url({% static 'ungleich_page/img/portfolio/startup-framework-preview.jpg' %})"></div>
        <div class="container">
          <div class="intro-cap">
            {% trans "We  Design, Configure &amp; Maintain <br> Your Linux Infrastructure " %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>