{% load static %}
{% load i18n %}

<section id="services">
  <div class="container">
	  <div class="text-center section-heading-contain wow fadeInDown">
	    <h2 class="section-heading">{% trans "our services" %}</h2>
	    <h3 class="section-subheading text-muted sm_left">
	    	{% trans "We support our clients in all areas of Unix infrastructure." %}<br/>
	    	{% trans "Our top notch configuration management is refreshingly simple and reliable." %}
	    </h3>
	  </div>
		<div class="row text-center">
		  <div class="col-sm-4">
		    <div class="team-member wow fadeInUp" data-wow-delay="0.25s">
		      <img src="{% static 'ungleich_page/img/team/5.jpg' %}" data-replaced="{% static 'ungleich_page/img/services/hosting.png' %}" class="img-responsive img-circle img-toggle" alt="">
		      <div class="team-member-caption inline-block">
						<h4 class="portfolio-caption">{% trans "Hosting" %}</h4>
						<p class="text-muted">{% trans "Ruby on Rails. Java hosting, Django hosting, we make it everything run smooth and safe." %}</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="team-member wow fadeInUp" data-wow-delay="0.5s">
		      <img src="{% static 'ungleich_page/img/team/4.jpg' %}" data-replaced="{% static 'ungleich_page/img/services/configuration.png' %}" class="img-responsive img-circle img-toggle" alt="">
		      <div class="team-member-caption inline-block">
						<h4 class="portfolio-caption">{% trans "Configuration as a Service" %}</h4>
						<p class="text-muted">{% trans "Ruby on Rails, Django, Java, Webserver, Mailserver, any infrastructure that needs to configured, we provide comprehensive solutions. Amazon, rackspace or bare metal servers, we configure for you." %}</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="team-member wow fadeInUp" data-wow-delay="0.75s">
		      <img src="{% static 'ungleich_page/img/team/6.jpg' %}"  data-replaced="{% static 'ungleich_page/img/services/linux.png' %}" class="img-responsive img-circle img-toggle cursor-pointer" alt="">
		      <div class="team-member-caption inline-block">
			      <h4 class="portfolio-caption">{% trans "Linux System Engineering" %}</h4>
						<p class="text-muted">{% trans "Let your developers develop! We take care of your system administration. Gentoo, Archlinux, Debian, Ubuntu, and many more." %}</p>
		      </div>
		    </div>
		  </div>
		</div>
  </div>
</section>
