{% load staticfiles %}

<aside class="clients">
	<div class="container">
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/envato.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/designmodo.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/themeforest.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/creative-market.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/logobig.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/Gentoo-site_logo.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/debian.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/CentOS.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		</div>

		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/cdistbyungleich.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/Puppet.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/freebsd.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/NetBSD.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/openbsd.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/postsql.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/mysql.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/apache.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/opennebula.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/gluster.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/ceph.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#" class="center-block">
		      <img src="{% static 'ungleich_page/img/logos/qemu.jpg' %}" class="img-responsive img-centered">
		    </a>
		  </div>
		</div>
	</div>
</aside>