{% load static %}

<aside class="clients">
	<div class="container">
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/envato.jpg' %}" class="img-responsive img-centered" alt="">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/designmodo.jpg' %}" alt="" class="img-responsive img-centered" height="51">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/themeforest.jpg' %}" class="img-responsive img-centered" alt="">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/creative-market.jpg' %}" class="img-responsive img-centered" alt="">
		    </a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/logobig.jpg' %}" alt="" class="img-responsive img-centered" height="61" width="196">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/Gentoo-site_logo.png' %}" alt="" class="img-responsive img-centered" height="50">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/debian.jpg' %}" alt="" class="img-responsive img-centered" height="36" width="145">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/CentOS.jpg' %}" alt="" class="img-responsive img-centered" height="50" width="147">
		    </a>
		  </div>
		</div>

		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/cdistbyungleich.jpg' %}" alt="" class="img-responsive img-centered" height="50" width="101">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/Puppet.png' %}" alt="" class="img-responsive img-centered" height="50" width="161">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/freebsd.png' %}" alt="" class="img-responsive img-centered" height="58" width="175">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/NetBSD.png' %}" alt="" class="img-responsive img-centered" height="60" width="85">
		    </a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/openbsd.png' %}" alt="" class="img-responsive img-centered" height="50" width="196">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/postsql.jpg' %}" alt="" class="img-responsive img-centered" height="72" width="197">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/mysql.png' %}" alt="" class="img-responsive img-centered" height="59" width="130">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/apache.png' %}" alt="" class="img-responsive img-centered" height="50" width="173">
		    </a>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/opennebula.png' %}" alt="" class="img-responsive img-centered" height="50" width="196">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/gluster.png' %}" alt="" class="img-responsive img-centered" height="51" width="185">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/ceph.jpg' %}" alt="" class="img-responsive img-centered" height="40" width="145">
		    </a>
		  </div>
		  <div class="col-xs-3 col-md-3">
		    <a href="#">
		      <img src="{% static 'ungleich_page/img/logos/qemu.png' %}" alt="" class="img-responsive img-centered" height="44" width="133">
		    </a>
		  </div>
		</div>
	</div>
</aside>