{% load static %}
{% load i18n %}

<section id="team" class="bg-light-gray">
	<div class="container">
	  <div class="text-center wow fadeInDown">
	    <h2 class="section-heading">{% trans "Why ungleich?*" %}</h2>
	    <h3 class="text-muted">{% trans "What our customers say" %}</h3>
	  </div>

		<div class="row">
		  <div class="col-sm-10 col-sm-offset-1 wow fadeInDown">
		    <!-- start:recommendationSlider -->
		    <div id="carousel-recommendation-ungleich" class="carousel slide ungleich ungleich-gallery ungleich-gallery-text-carousel" data-ride="carousel" data-interval="3000">
		      <!-- Indicators -->
		      <ol class="carousel-indicators">
						<li data-target="#carousel-recommendation-ungleich" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-recommendation-ungleich" data-slide-to="1"></li>
						<li data-target="#carousel-recommendation-ungleich" data-slide-to="2"></li>
		      </ol>

		      <!-- Wrapper for slides -->
		      <div class="carousel-inner" role="listbox">
						<div class="item active">
			  			<img class="center-block img-client img-responsive" src="{% static 'ungleich_page/img/client-logos/teralytics.png' %}" />
			  			<p class="carousel-text text-muted text-center">
			  	{% blocktrans %}
			    "ungleich helped us getting started with our internal
			    infrastructure, hosted on physical servers in a
			    co-location data centre in Zurich. From planning the
			    network layout and virtualisation setup,
			    inviting offers and securing a great deal from a
			    hardware vendor, all the way to the installation of
			    basic services like DNS, VPN and firewalls using the
			    configuration management software cdist, we could
			    count on the support of ungleich. At the end, we got
			    a high availability infrastructure setup enabling our
			    engineers to work more efficiently and comfortable
			    than before."
			    {% endblocktrans %}
			  			</p>
				  		<p class="text-center carousel-author">
				    		<strong>- Luciano Franceschina</strong>, CTO at Teralytics
				  		</p>
						</div>
						<div class="item">
			  			<img class="center-block img-client img-responsive" src="{% static 'ungleich_page/img/client-logos/panter.png' %}" />
			  			<p class="carousel-text text-muted text-center">
			  	{% blocktrans %}
			    "Thanks to ungleich team, who has designed and
			    configured our company's Linux infrastructure, our
			    systems are very easy to maintain. Their innovative
			    configuration management system cdist helped us
			    significantly not only in cost but also in time
			    saving, which is crucial for IT companies like ours."
			   	{% endblocktrans %}
			  			</p>
						  <p class="text-center carousel-author">
						    <strong> - Beat Seeliger </strong>, CTO at Panter AG
						  </p>
						</div>
						<div class="item">
						  <img class="center-block img-client img-responsive" src="{% static 'ungleich_page/img/client-logos/logo_ruag.png' %}" />
						  <p class="carousel-text text-muted text-center">
			  	{% blocktrans %}
			    "ungleich provided an excellent service in designing
			    our system architecture and created secure and stable
			    appliance. For us it is important to have an enduring
			    stability in our system, and ungleich's configuration
			    management system cdist is easy to adapt for our
			    system administrators. We had a successful
			    collaboration with ungleich in the time of very
			    high workload, and their project leading was
			    high-skilled and very reliable. I would definitely
			    recommend them to any companies with high demand in
			    solid infrastructures."
			    {% endblocktrans %}
						  </p>
						  <p class="text-center carousel-author">
			  	{% blocktrans %}
			    <strong>- Sebastian Plattner,</strong>
			    Teamleader Development Cyber Security Products at RUAG
			    {% endblocktrans %}
			  			</p>
						</div>
		      </div>
		    </div>
		    <!-- end:recommendationSlider -->
		  </div>
		</div>
	</div>
	<div class="text-center">
		<h3 class="section-subheading text-muted">{% blocktrans %}*ungleich means not equal to (≠) U+2260.{% endblocktrans %}</h3>
	</div>
</section>