/* only for cms editing mode */
.section-figure  .cms-plugin {
    flex-basis: 50%;
    flex-grow: 1;
}

.split-section-plain .section-figure  .cms-plugin {
  flex-grow: 0;
}

@media (max-width: 767px) {
  .section-figure  .cms-plugin {
    flex-basis: 100%;
  }
}