body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}


/* bootstrap danger color override from #a94442 */

.text-danger,
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback,
.alert-danger,
.list-group-item-danger,
a.list-group-item-danger,
a.list-group-item-danger:hover,
a.list-group-item-danger:focus,
.panel-danger>.panel-heading {
  color: #eb4d5c;
}

.alert-danger {
  background: rgba(235, 204, 209, 0.2);
}

.has-error .form-control,
.has-error .form-control:focus,
.has-error .form-control:active,
.has-error .input-group-addon {
  color: #eb4d5c;
  border-color: #eb4d5c;
}

a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #eb4d5c;
  border-color: #eb4d5c;
}

.panel-danger>.panel-heading .badge {
  background-color: #eb4d5c;
}

.topnav {
  font-size: 14px;
}

.navbar-default {
  background: #fff;
  padding: 5px;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand > img {
  height: 100%;
}

#logoWhite,
.navbar-transparent #logoBlack {
  display: none;
}

#logoBlack,
.navbar-transparent #logoWhite {
  display: block;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 10px;
  }
  .navbar-brand {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.navbar .dcl-link {
  display: block;
  padding: 15px;
  color: #777;
}

.navbar .dcl-link:focus,
.navbar .dcl-link:active,
.navbar .dcl-link:hover {
  text-decoration: none;
}

.navbar .dropdown-menu .dcl-link {
  padding: 1px 10px;
}

p.copyright {
  margin: 0;
}

footer {
  font-weight: 300;
  padding: 25px 0;
  background-color: #f8f8f8;
}

footer .list-inline {
  margin-bottom: 15px;
}

footer a {
  color: #777;
}

footer .dcl-link-separator {
  position: relative;
  padding-left: 10px;
}

footer .dcl-link-separator::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 9px;
  bottom: 0;
  left: -2px;
  right: 0;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #777;
}

.mb-0 {
  margin-bottom: 0;
}

.thin-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.payment-container .credit-card-info {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.credit-card-info {
    display: flex;
}

.credit-card-info .align-bottom {
    align-self: flex-end;
    padding-right: 0 !important;
}

.new-card-head {
    margin-top: 10px;
}
.new-card-button-margin button{
    margin-top: 5px;
    margin-bottom: 5px;
}