{% load staticfiles i18n%}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Data Center Light by ungleich">
    <meta name="author" content="ungleich GmbH">

    <title>Data Center Light -
    {% block title %}VM hosting made in Switzerland{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'datacenterlight/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--Import Google Icon Font-->
     <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'datacenterlight/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'datacenterlight/img/favicon.ico' %}" type="image/x-icon" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'datacenterlight/css/landing-page.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    {% include "datacenterlight/includes/_navbar.html" %}
    

	{% block content %}
    {% endblock %}
	
	{% include "datacenterlight/includes/_footer.html" %}
    <!-- Footer -->

    <!-- jQuery -->
    <script src="{% static 'datacenterlight/js/jquery.js' %}"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'datacenterlight/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'datacenterlight/js/main.js' %}"></script>
    <!-- Load form js -->
    <script src="{% static 'datacenterlight/js/form.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
    
    <script type="text/javascript">
           $(document).ready(function(){
               $.validator.setDefaults({
                   ignore: []
               });

               var name_message = "{% trans 'Please enter your name' %}";
               var email_message = "{% trans 'Please enter a valid email address' %}";
               $('#order_form').validate({
                   wrapper: 'div',
                   errorLabelContainer: "#error_message_box",
                   rules: {
                       name: {
                           required: true,
                           minlength: 3
                       },
                       email: {
                           required: true,
                           email: true
                       }
                   },
                   messages: {
                       name: name_message,
                       email: email_message
                   },
                   submitHandler: function (form) {
                       return true;
                   }
               });
           });

          // window.onload=function(){
          //   $('.selectpicker').selectpicker({
          //        style: 'btn-link',
          //        windowPadding: 10,
          //   });

          //   var hash = window.location.hash.substr(1);
          //   console.log(hash);
          //   if (hash == 'requestform'){
          //       $('#reques-success-message').modal('show');
          //   }

          //  };
    </script>

</html>
