{% load staticfiles i18n sekizai_tags %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Data Center Light by ungleich">
    <meta name="author" content="ungleich GmbH">

    <title>Data Center Light - {% block title %}VM hosting made in Switzerland{% endblock %}</title>

    <!-- Vendor CSS -->
    {% addtoblock "vendor_css" %}
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'datacenterlight/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Icon Fonts -->
        <link href="{% static 'datacenterlight/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet" type="text/css">
    {% endaddtoblock "vendor_css" %}
    <!-- Custom CSS -->
    {% addtoblock "custom_css" %}
        <link href="{% static 'datacenterlight/css/hosting.css' %}" rel="stylesheet">
        {% block css_extra %}
        {% endblock css_extra %}
    {% endaddtoblock "custom_css" %}

    {% render_block "vendor_css" %}
    {% render_block "custom_css" postprocessor "compressor.contrib.sekizai.compress" %}

    <!-- External Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{% static 'datacenterlight/img/favicon.ico' %}" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google analytics -->
    {% include "google_analytics.html" %}
    <!-- End Google Analytics -->
</head>

<body>

    {% block navbar %}
        {% include "hosting/includes/_navbar_user.html" %}
    {% endblock navbar %}

    <div class="{% if request.user.is_authenticated %}content-dashboard{% endif %}">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    {% if request.user.is_authenticated %}
        <footer class="footer-vm">
            <div class="container">
                <p class="copyright text-muted small">Copyright &copy; ungleich GmbH {% now "Y" %}. {% trans "All Rights Reserved" %}</p>
            </div>
        </footer>
    {% else %}
        <div class="footer-light">
            {% include "datacenterlight/includes/_footer.html" %}
        </div>
    {% endif %}

    {% addtoblock "vendor_js" %}
        <!-- jQuery -->
        <script src="{% static 'hosting/js/jquery.js' %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'hosting/js/bootstrap.min.js' %}"></script>
    {% endaddtoblock "vendor_js" %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    {% addtoblock "custom_js" %}
        <!-- Virtual Machine Detail Javascript -->
        <script src="{% static 'hosting/js/virtual_machine_detail.js' %}"></script>
        <!-- Create Virtual Machine Javascript -->
        <script src="{% static 'hosting/js/createvm.js' %}"></script>
        <!-- Init JavaScript -->
        <script src="{% static 'hosting/js/initial.js' %}"></script>
        {% block js_extra %}
            {% comment %}
                this block is above some files, because on stripe error scripts below the stripe
                script are not properly executed.
            {% endcomment %}
        {% endblock js_extra %}
    {% endaddtoblock "custom_js" %}

    {% render_block "vendor_js" %}
    {% render_block "custom_js" postprocessor "compressor.contrib.sekizai.compress" %}

    <!-- Stripe Lib -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://js.stripe.com/v2/"></script>

    {% addtoblock "payment_js" %}
        <!-- Proccess payment lib -->
        <script type="text/javascript" src="{% static 'hosting/js/payment.js' %}"></script>
        <!-- Gen SSH Key lib -->
        <script type="text/javascript" src="{% static 'hosting/js/gen-ssh-key.js' %}"></script>
    {% endaddtoblock "payment_js" %}

    {% render_block "payment_js" postprocessor "compressor.contrib.sekizai.compress" %}

</body>
</html>
