{% extends "cms/datacenterlight/base_datacenterlight.html" %}
{% load cms_tags i18n %}

{% block content %}
    <!-- Why Data Center Light? -->
    <div class="full-whydcl-sec">
        <div class="whydcl-header whydcl-section" id="why_dcl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="single-heading">
                            {% placeholder "home" %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- / Request Form section (Using contact class) -->
    <div class="full-contact-section">
        <div class="contact-section" id="">
            <div class="container">
                <div class="row">
					{% placeholder "request_form" %}
				</div>

            </div>
        </div>
        
    </div>

{% endblock content %}
