{% extends "datacenterlight/base.html" %}
{% load staticfiles cms_tags sekizai_tags %}
{% block title %}
{% page_attribute page_title %}
{% endblock %}
{% block content %}
{% addtoblock "css" %}
<link href="{% static 'datacenterlight/css/cms.css' %}" media="screen" rel="stylesheet" type="text/css"/>
{% endaddtoblock %}
<div class="dcl-cms_page-full-width">
    <div class="dcl-cms_page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="single-heading">
                        <h2>{% page_attribute page_title %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="split-section left" id="dcl-cms_page-text">
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% placeholder 'datacenterlight_cms_page_text' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
