{% load staticfiles bootstrap3%}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ungleich</title>

    <link href="{% static 'datacenterlight/css/downtime-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google analytics -->
    {% include "google_analytics.html" %}
    <!-- End Google Analytics -->
</head>

<body>

    <div class="downtime-container">
        <nav class="navbar navbar-default  topnav navbar-transparent" role="navigation">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a id="logoWhite" class="navbar-brand topnav" href="{% if site_url %}{{site_url}}{% else %}{{ request.session.hosting_url}}{% endif %}"><img src="{% static 'datacenterlight/img/logo_black.svg' %}"></a>
                </div>
            </div>
            <!-- /.container -->
        </nav>

        <h1>{% trans "You caught us while working!" %}</h1>
        <div class="downtime-msg">
            <p class="xl_p">{% trans "We're doing scheduled maintainence from" %}</p>
            <p class="xl_p">17:00 21.08.2017 {% trans "to" %} 23:00 21.08.2017 CEST.</p>
        </div>
        <h2>{% trans "If you need immediate assistance, please contact us at" %}</h2>
        <div class="downtime-contact">
            <p><a href="mailto:support@datacenterlight.ch">support@datacenterlight.ch</a></p>
            <p>+41 044 534 66 22</p>
            <p><a target="_blank" href="https://twitter.com/datacenterlight">https://twitter.com/datacenterlight</a></p>
            <p><a target="_blank" href="https://twitter.com/ungleich">https://twitter.com/ungleich</a></p>
        </div>
    </div>
</body>

</html>
