{% extends "datacenterlight/base.html" %}
{% load staticfiles i18n %}

{% block content %}

    <!-- Header -->
    <div class="intro-header" id="home">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                      <h1>Data Center Light</h1>
                        <h3>{% trans "Finally, an affordable VM hosting in Switzerland!" %}</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a class="btn btn-default btn-lg btn-transparent url" href="#how"><i class="#Services"></i> <span class="network-name">{% trans "Highlights" %}</span></a>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-lg page-scroll url" href="#price"><span class="network-name">{% trans "I want it!" %}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="split-section right" id="how">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 icon-section">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="split-text">
                        <div class="split-title">
                            <h2>{% trans "Highlights" %}</h2>
                        </div>
                        <div class="split-description">
                            <ul class="fa-ul">
                              <li>
                                  <i class="fa-li fa fa-check-square-o fa-lg"></i>
                                  <p class="lead">{% trans "Reuses existing factory halls instead of building a new expensive building." %}
                                  </p>
                              </li>
                             <li>
                                <i class="fa-li fa fa-check-square-o fa-lg"></i>
                                <p class="lead">{% trans "Only wants you to pay for what you actually need." %}</p>
                              </li>
                              <li>
                                <i class="fa-li fa fa-check-square-o fa-lg"></i>
                                <p class="lead">{% trans "Is creative, using a modern and alternative design for a data center in order to make it more sustainable and affordable at the same time." %}</p>
                              </li>
                              <li>
                                <i class="fa-li fa fa-check-square-o fa-lg"></i>
                                <p class="lead">{% trans "Cuts down the costs for you by using FOSS (Free Open Source Software) exclusively, wherefore we can save money from paying licenses." %}</p>
                              </li>
                             </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- /.option 1 -->
    </div>

    <div class="split-section left" id="your">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="split-text">
                        <div class="split-title">
                            <h2>{% trans "Scale out" %}</h2>
                        </div>
                        <div class="split-description">
                            <p class="lead">{% trans "We don't use special hardware. We use commodity hardware: we buy computers that you buy. Just many more and put them in a cozy home for computers called data center." %}</p>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 icon-section">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- /.option 1 -->
    </div>
    <div class="split-section right" id="our">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 icon-section">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="split-text">
                        <div class="split-title">
                            <h2>{% trans "Reliable and light" %}</h2>
                        </div>
                        <div class="split-description">
                            <p class="lead">{% trans "Our VMs are located in Switzerland, with reliable power supply and fast internet connection. Our VM costs less thanks to our featherlight infrastructure." %}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- /.option 1 -->
    </div>

    <!-- /.content-section-b -->
    <div class="content-section-a pricing-section" id="price">

        <div class="container">
        <!-- Page Features -->
            <div class="row text-center">
                <div class="col-xs-12 col-md-6 text">
                    <h2 class="section-heading">{% trans "Simple and affordable: Try our virtual machine with featherlight price." %}</h2>
                    <p class="lead new-lead">{% trans "Affordable VM hosting based in Switzerland" %}</p>
                </div>

                <div class="col-xs-12 col-md-6 hero-feature">
                    <div class="price-calc-section no-padding">
                        <div class="landing card">
                            <img class="img-beta" src="{% static 'datacenterlight/img/beta-img.png' %}" alt="">
                            <div class="caption">
                            {% include "datacenterlight/calculator_form.html" %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         </div>

    </div>

    <!-- / contact section -->
    <div class="full-contact-section">
        <div class="intro-header-2 contact-section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title">
                            <h2>{% trans "Contact us" %}</h2>
                        </div>
                        <div class="contact-details">
                            <div class="subtitle">
                                <h3>ungleich GmbH</h3>
                            </div>
                            <div class="description">
                                <p>info@datacenterlight.ch</p>
                                <p>In der Au 7, Schwanden 8762</p>
                                <p>{% trans "Switzerland " %}</p>
                            </div>
                        </div>
                        <div class="social">
                            <a target="_blank" class="" href="https://twitter.com/datacenterlight"><i class="fa fa-twitter fa-fw"></i></a>
                            <a target="_blank"  class=""  href="https://github.com/ungleich"><i class="fa fa-github fa-fw"></i></a>
                            <a target="_blank"  class=""  href="https://www.facebook.com/ungleich.ch/"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="contact-form" class="contact-form">
                            {% include "datacenterlight/contact_form.html" %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.banner -->
{% endblock %}
