{% load staticfiles i18n%}
<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>landings</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'datacenterlight/css/main.css' %}">
    <script src="{% static 'datacenterlight/js/vendor/modernizr.js' %}"></script>
</head>

<body>
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-landing d-flex justify-content-between"><a class="navbar-brand nav-local" href="javascript:void(0)" data-href="home">DCL Interest</a> <a class="navbar-brand" href="index.html" data-href="beta">Beta Program</a></nav>
    <section class="section-home" id="home">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="title title-landings">
                <h1>Swiss 2 GB VM for 0.5 CHF per day</h1></div>
        </div>
    </section>
    <section class="section-beta" id="beta">
        <div class="contain-form">
            <div class="form-interested">
                <h2>Details about the offer..<ul><li><span>2 GB RAM</span></li><li><span>1 CPU</span></li><li><span>10 GB Dus</span></li></ul><h2>I am interested in running</h2>
                <form action="">
                    <div class="row-vms d-flex align-items-center justify-content-between row-vms__active">
                        <div class="form-group">
                            <input type="number" class="form-control number-vms" value="1" data-price="0.5">
                            <div class="text"><span>number of VMs</span></div>
                        </div>
                        <div class="submit">
                            <button type="button" id="submit" class="btn btn-block btn-success">Submit</button>
                        </div>
                    </div>
                    <p>Interested in other offers? <a href="index.html">Checkout our beta program offers!</a></p>
                </form>
                </h2>
            </div>
        </div>
        <div class="loading"><img src="{% static 'datacenterlight/img/loading.gif' %}" alt=""></div>
        <div class="succes-message">
            <div class="title">
                <h1>Thank You</h1></div>
            <div class="container" style="margin-top:3rem">
                <p>Thanks for letting us know about your interest! We will come back to you as soon as our beta program starts!</p>
                <p>Meanwhile, you can checkout news about it on <a href="#">Twitter</a>, <a href="#">Facebook</a> and <a href="#">Instagram</a></p>
            </div>
        </div>
    </section>
    <script>
        ! function(e, t, a, n, c, o) {
            e.GoogleAnalyticsObject = n, e[n] || (e[n] = function() {
                (e[n].q = e[n].q || []).push(arguments)
            }), e[n].l = +new Date, c = t.createElement(a), o = t.getElementsByTagName(a)[0], c.src = "https://www.google-analytics.com/analytics.js", o.parentNode.insertBefore(c, o)
        }(window, document, "script", "ga"), ga("create", "UA-XXXXX-X"), ga("send", "pageview")
    </script>
    <script src="{% static 'datacenterlight/js/vendor.js' %}"></script>
    <script src="{% static 'datacenterlight/js/main.js' %}"></script>
</body>

</html>