{% extends "hosting/order_detail.html" %}
{% load i18n %}

{% block navbar %}
    {% include "datacenterlight/includes/_navbar.html" %}
{% endblock navbar %}

{% block submit_btn %}
  <form id="virtual_machine_create_form" action="" method="POST">
      {% csrf_token %}
      <div class="row">
          <div class="col-sm-8">
              <div class="dcl-place-order-text">{% blocktrans with vm_price=request.session.specs.price %}By clicking "Place order" this plan will charge your credit card account with the fee of {{ vm_price }}CHF/month{% endblocktrans %}.</div>
          </div>
          <div class="col-sm-4 order-confirm-btn text-right">
              <button class="btn choice-btn" id="btn-create-vm"
                      data-toggle="modal" data-target="#createvm-modal">
				{% trans "Place order" %}
              </button>
          </div>
      </div>
  </form>
{% endblock submit_btn %}

