{% extends "cms/datacenterlight/base_datacenterlight.html" %}
{% load static cms_tags i18n %}

{% block content %}
    <div class="intro-pricing">

		<div class="intro-message">
			{% placeholder "intro_message" %}
		</div>
		
	</div>

	<div class="price-calc-section">
		<div class="card">
            <img class="img-beta" src="{% static 'datacenterlight/img/beta-img.png' %}" alt="">
            <div class="caption">
                {% placeholder "pricing_calc" %}
            </div>
		</div>

		<div class="text">
			<h2 class="section-heading">{% trans "Simple and affordable: Try our virtual machine with featherlight price." %}</h2>

			<div class="description">
				<p>{% trans "Our VMs are hosted in Glarus, Switzerland, and our website is currently running in BETA mode. If you want more information that you did not find on our website, or if your order is more detailed, or if you encounter any technical hiccups, please contact us at support@datacenterlight.ch, our team will get in touch with you asap." %}</p>
			</div>
		</div>
	</div>
{% endblock content %}
