{% extends "cms/datacenterlight/base_datacenterlight.html" %}
{% load static cms_tags i18n %}

{% block content %}
    <div class="intro-pricing success-pricing">

		<div class="intro-message">
			{#% placeholder "intro_message" %#}
			<h2 class="section-heading">{% trans "Thank you for order! Our team will contact you via email" %}</h2>
			{% if LANGUAGE_CODE == 'en-us'%}
			<h2 class="section-heading">{% trans "as soon as possible!" %}</h2>
			{% endif %}
		</div>

	</div>

	<script type="text/javascript">
		  window.onload=function(){
			$('.selectpicker').selectpicker({
				 style: 'btn-link',
				 windowPadding: 10,
			});

			var hash = window.location.hash.substr(1);
			console.log(hash);
			if (hash == 'requestform'){
				$('#reques-success-message').modal('show');
			}

		   };
	</script>
{% endblock content %}
