{% extends "base_glarus.html" %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="box">
        <img class="img-responsive img-full" src="{% static 'digitalglarus/img/thank-you.png' %}" alt="">
        <div class="col-lg-12">
            <hr>
            <h2 class="text-center">
                Supporters
            </h2>
            <hr>
        </div>
        <div class="col-md-12">
          <div class="text-center">
            <h3>HERE ARE OUR PROUD SUPPORTERS OF PROJECT DIGITALGLARUS!</h3>
            <p class="text-center">Thanks to our supporters, the first cowerking space in Glarus will have a new look!</p>
          </div>
        </div>
        <div class="col-md-12">
            <div class="text-center">
              {% for supporter in supporters %}
                <div class="caption">
                  <h3>{{supporter.name}}</h3>
                </div>
              {% endfor %}
              <hr>
              <a class="btn btn-default" href="{% url 'digitalglarus:support' %}" role="button">BECOME A SUPPORTER</a>
            </div>            
            
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /.container -->

{% endblock %}
