{% load cms_tags %}
<header class="header_slider" style="background-image: url({{ instance.background_image.url }})">
  <div id="carousel-header-ungleich" class="carousel slide" data-ride="carousel" data-interval="{{ instance.carousel_data_interval}}">
    <!-- Indicators -->
      {% if instance.child_plugin_instances|length > 1  %}
        <ol class="carousel-indicators">
                {% for plugin in instance.child_plugin_instances %}
                    <li data-target="#carousel-header-ungleich" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active" {% endif %}></li>
                {% endfor %}
        </ol>
      {% endif %}
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for plugin in instance.child_plugin_instances %}
        <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
            {% render_plugin plugin %}
        </div>
        {% endfor %}
    </div>
  </div>
</header>