{% load i18n cms_tags staticfiles menu_tags sekizai_tags  %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
	{% if request.current_page.pagemeta.image.url %}
	style="background-image: url('{{ request.current_page.pagemeta.image.url }}');"
	{% else %}
	style="background-image: url('{% static 'blog.ungleich.ch/img/home-bg.jpg'  %}');"
	{% endif %}
	>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="site-heading">

			{% if languages|length > 1 %}
			    <div class="center-block">
			    <ul class="list-inline center-block language-chooser-list">
			        {% for language in languages %}
			            <li class="lang{% if current_language == language.0 %} active{% endif %}">
			                <a href="{% page_language_url language.0 %}" style="color:white;font-size:16px;" 
			                   title="{% trans "Change to language:" %} {{ language.1 }}">{{ language.1 }}</a>
			            </li>
			        {% endfor %}
			    </ul>
			    </div>
			{% endif %}


		  <h1> {% page_attribute 'page_title'  %}  </h1>
		  <hr class="small">
		  <span class="subheading"> {% page_attribute 'meta_description' %}</span>
			<div>
				<a rel="alternate" type="application/rss+xml" title="Blog feed" href="{% url 'djangocms_blog:posts-latest-feed' %}" ><i class="fa fa-rss" style="color:#ffffff"></i></a>
			</div>
		</div>
      </div>
    </div>
  </div>
</header>
