{% extends "datacenterlight/emails/base_email_datacenterlight.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block email_head %}
{{dcl_text}} {% trans 'Account Activation' %}
{% endblock %}
{% block email_body %}
{% blocktrans %}
You can activate your Data Center Light account by <a href="{{base_url}}{{activation_link}}">clicking here</a>.<br/>
You can also copy and paste the following link into the address bar of your browser<br/>
to activate your Data Center Light account.<br/>
{{base_url}}{{activation_link}}
{% endblocktrans %}
{% endblock %}
