<div class="split-section {{ instance.get_extra_classes }}" id="{{ instance.html_id }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 {% if instance.text_direction == 'right' %}col-sm-push-6{% endif %}">
        <div class="split-text">
          {% if instance.heading %}
            <div class="{% if not instance.plain_heading %}split-title{% endif %}">
              <h2>{{ instance.heading }}</h2>
            </div>
          {% endif %}
          {% if instance.content %}
            <div class="split-description">
              <div class="lead">
                {{ instance.content }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6 {% if instance.text_direction == 'right' %}col-sm-pull-6{% endif %}">
        <div class="price-calc-section">
          <div class="card">
            {% include "datacenterlight/includes/_calculator_form.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>