<div id="{{ instance.html_id }}" class="full-contact-section">
  <div class="intro-header-2 contact-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          {% if instance.heading%}
            <div class="title">
              <h2>{{ instance.heading}}</h2>
            </div>
          {% endif %}
          <div class="contact-details">
            {% if instance.organization_name %}
              <div class="subtitle">
                <h3>{{ instance.organization_name }}</h3>
              </div>
            {% endif %}
            <div class="description">
              {% if instance.email %}
                <p>{{ instance.email }}</p>
              {% endif %}
              {% if instance.address %}
                <p>{{ instance.address }}</p>
              {% endif %}
              {% if instance.country %}
                <p>{{ instance.country }}</p>
              {% endif %}
            </div>
          </div>
          <div class="social">
            <a target="_blank" href="https://twitter.com/datacenterlight"><i class="fa fa-twitter fa-fw"></i></a>
            <a target="_blank" href="https://github.com/ungleich"><i class="fa fa-github fa-fw"></i></a>
            <a target="_blank" href="https://www.facebook.com/ungleich.ch/"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="contact-form-{{instance.pk}}" class="contact-form">
            {% include "datacenterlight/contact_form.html" with form_header=instance.form_header id_pk=instance.pk  %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
