{% load i18n %}

<div id="{{ instance.id }}" class="full-contact-section">
  <div class="intro-header-2 contact-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="title">
            <h2>{{ instance.contact_text }}</h2>
          </div>
          <div class="contact-details">
            <div class="subtitle">
              <h3>{{ instance.organization_name }}</h3>
            </div>
            <div class="description">
              <p>{{ instance.email }}</p>
              <p>{{ instance.address }}</p>
              <p>{{ instance.country }}</p>
            </div>
          </div>
          <div class="social">
            <a target="_blank" href="https://twitter.com/datacenterlight"><i class="fa fa-twitter fa-fw"></i></a>
            <a target="_blank" href="https://github.com/ungleich"><i class="fa fa-github fa-fw"></i></a>
            <a target="_blank" href="https://www.facebook.com/ungleich.ch/"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="contact-form" class="contact-form">
            {% include "datacenterlight/contact_form.html" with form_header=instance.form_header  %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>