[circus]
check_delay = 5
endpoint = tcp://127.0.0.1:5555
pubsub_endpoint = tcp://127.0.0.1:5556
stats_endpoint = tcp://127.0.0.1:5557
copy_env = True

[socket:dynamicweb]
host = 127.0.0.1
port = 8080

[watcher:dynamicweb]
cmd = /home/r/.virtualenvs/dynamicweb/bin/chaussette --backend meinheld --fd $(circus.sockets.dynamicweb) dynamicweb.wsgi.application
use_sockets = True
copy_env = True
numprocesses = 5

[env:dynamicweb]
PYTHONPATH = /home/r/dynamicweb