.dashboard-container {
	padding-top:70px; padding-bottom: 70px;
	width: 90%;
	margin: 0 auto;
	max-width: 768px;
}

.content-dashboard{
	min-height: 100vh;
	width: 80%;
	margin: 0 auto;
	max-width: 1120px;
}
.container-table{
	margin-top: 35px;
	overflow-y: hidden; 
}
.container-table table{
	overflow-y: auto; 
}
.borderless td {
    border: none !important;
}
.borderless thead {
}

.borderless tbody:before {
    content: "-";
    display: block;
    color: transparent;
}

.inline-headers h3, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

.space-above {
	margin-top: 4%;
}

.space-above-big {
	margin-top: 20%;
}

.table>tbody>tr>td{
	vertical-align: middle;
}
.fa-separate{
	margin-right: 15px;
}
@media (max-width: 540px) {
    select {
    	width: 280px; 
    }
    .content-dashboard {
	    width: 90%;
	}
}
/***********Styles for Model********************/
.modal-content {
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    width: 100%;
	float: left;
}
.close {
    font-size: 50px;
    font-weight: 300;
    }
.modal-header {
    border-bottom: 0px solid #e5e5e5;
    padding: 0px 15px;
    width: 100%;
	float: left;
	}
.modal-body {
    text-align: center;
    width: 100%;
	float: left;
	padding: 0px 30px 15px 30px;
}
.modal-body .modal-icon i {
    font-size: 50px;
    font-weight: 100;
    color: #999;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 22px;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
}
.modal-footer {
    border-top: 0px solid #e5e5e5;
    width: 100%;
	float: left;
	text-align: center;
	padding: 30px 15px;
}
@media (min-width: 1300px) {
    .modal-dialog {
    top: 30%;
    width: 25%;
	}
}
@media (max-width: 1299px) {
    .modal-dialog {
    top: 20%;
    width: 43%;
	}
}
@media (max-width: 900px) {
    .modal-dialog {
    top: 20%;
    width: 50%;
	}
}
@media (max-width: 767px) {
    .modal-dialog {
    top: 30%;
    width: 90%;
    margin: 0 auto !important;
	}
}
