@media (min-width: 768px) {
	.navbar-right {
		margin-right: 10px;
	}
}

.dashboard-container {
	padding-top:70px; padding-bottom: 70px;
	width: 90%;
	margin: 0 auto;
	max-width: 768px;
}

.content-dashboard{
	min-height: 100vh;
	width: 80%;
	margin: 0 auto;
	max-width: 1120px;
}
.container-table{
	margin-top: 35px;
	overflow-y: hidden; 
}
.container-table table{
	overflow-y: auto; 
}
.borderless td {
    border: none !important;
}
.borderless thead {
}

.borderless tbody:before {
    content: "-";
    display: block;
    color: transparent;
}

.inline-headers h3, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

.space-above {
	margin-top: 4%;
}

.space-above-big {
	margin-top: 20%;
}

.table>tbody>tr>td{
	vertical-align: middle;
}
.fa-separate{
	margin-right: 15px;
}
@media (max-width: 540px) {
    select {
    	width: 280px; 
    }
    .content-dashboard {
	    width: 90%;
	}
}

