.order-detail-container {
    max-width: 600px;
    margin: 100px auto 40px;
    border: 1px solid #ccc;
    padding: 15px;
    color: #595959;
}

@media(min-width: 768px) {
    .order-detail-container {
        padding: 30px 30px 20px;
    }
}

.order-detail-container .invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.order-detail-container .table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.order-detail-container .dashboard-title-thin {
    margin-top: 0;
    margin-left: -3px;
}

.order-detail-container .dashboard-title-thin .un-icon {
    margin-top: -6px;
}

.order-detail-container .dashboard-container-head {
    position: relative;
    padding: 0;
    margin-bottom: 38px;
}

.order-detail-container .dashboard-container-options {
    position: absolute;
    top: 10px;
    right: 0;
}
.order-detail-container .dashboard-container-options .svg-img {
    height: 22px;
    width: 22px;
}

.order-detail-container .order-details {
    margin-bottom: 15px;
}

.order-detail-container h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-detail-container p {
    margin-bottom: 5px;
}

.order-detail-container hr {
    margin: 15px 0;
}

.order-detail-container .thin-hr {
  margin: 10px 0;
}

.order-detail-container .subtotal-price {
  font-size: 16px;
}

.order-detail-container .subtotal-price .text-primary {
  font-size: 17px;
}

.order-detail-container .total-price {
  font-size: 18px;
}

@media (max-width: 767px) {
    .order-confirm-btn {
        text-align: center;
        margin-top: 10px;
    }
    .order-detail-container .dashboard-container-options {
        position: absolute;
        top: 4px;
        right: -4px;
    }
    .order-detail-container .dashboard-container-options .svg-img {
        height: 16px;
        width: 16px;
    }
}

.order_detail_footer {
    font-size: 9px;
    letter-spacing: 1px;
    color: #333333;
}

.order_detail_footer strong {
    font-size: 11px;
}


#virtual_machine_create_form {
    padding: 15px 0;
}

.dcl-place-order-text {
  color: #808080;
}