<li {% if instance.inverted %}class="timeline-inverted"{% endif %}>
    {% if instance.link_url %}<a href="{{ instance.link_url }}" target="_blank">{% endif %}
    <div class="timeline-image">
      <img class="img-circle img-responsive" src="{{ instance.image.url }}" alt="">
    </div>
    {% if instance.link_url %}</a>{% endif %}
    <div class="timeline-panel wow {% if instance.inverted %}slideInRight flex-justify-content-start {% else %}slideInLeft flex-justify-content-end{% endif %}">
      <div class="timeline-body">
        <p>{{ instance.title }}</p>
      </div>
    </div>
</li>