<div class="intro-header" style="background:url({{ image.url }}) no-repeat center center; background-size: cover; background-position: left; background-color: rgb(118, 140, 163); background-attachment: fixed; flex-direction: column; align-items: flex-end; justify-content: space-between; padding-top: 70px;" id="home">
  <div class="price-tag-container">
    <a href="{{ object.price_tag_url }}"><div style="background:url({{ object.price_tag_image.url }}) no-repeat center center; background-size: cover;" class="price-tag"></div></a>
  </div>
  <div class="high-speed">
    <div class="high-speed-border"></div>
      <h1>{{ object.title }}</h1>
    <div class="high-speed-border"></div>
  </div>
</div>