{% load staticfiles bootstrap3%}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ungleich</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'hosting/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'hosting/css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'hosting/css/payment.css' %}" rel="stylesheet">
    <link href="{% static 'hosting/css/order.css' %}" rel="stylesheet">
    <link href="{% static 'hosting/css/orders.css' %}" rel="stylesheet">
    <link href="{% static 'hosting/css/commons.css' %}" rel="stylesheet">
    <link href="{% static 'hosting/css/virtual-machine.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'hosting/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'hosting/css/owl.theme.default.min.css' %}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-default  navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ request.session.hosting_url}}"><img src="{% static 'datacenterlight/img/logo_black.svg' %}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'hosting:virtual_machines' %}">
                                <i class="fa fa-server" aria-hidden="true"></i> {% trans "My Virtual Machines"%}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'hosting:orders' %}">
                                <i class="fa fa-credit-card"></i> {% trans "My Orders"%}
                            </a>
                        </li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> {{request.user.name}} <span class="caret"></span></a>
                          <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'hosting:ssh_keys' %}">
                                    <i class="fa fa-key"></i> {% trans "Keys"%}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'hosting:notifications' %}">
                                    <i class="fa fa-bell"></i> {% trans "Notifications "%}
                                </a>
                            </li>
                            <li><a href="{% url 'hosting:logout' %}"><i class="glyphicon glyphicon-lock"></i>{% trans "Logout"%} </a></li>
                          </ul>
                        </li>
                        <!-- 
                        <li>
                            <a href="{{ request.session.hosting_url}}#how">{% trans "How it works"%}</a>
                        </li>
                        <li>
                            <a href="{{ request.session.hosting_url }}#your">{% trans "Your infrastructure"%}</a>
                        </li>
                       <li>
                            <a href="{{ request.session.hosting_url }}#our">{% trans "Our inftrastructure"%}</a>
                        </li>
                        <li>
                            <a href="{{ request.session.hosting_url }}#price">{% trans "Pricing" %}</a>
                        </li>
                        <li>
                            <a href="{{ request.session.hosting_url }}#contact">{% trans "Contact"%}</a>
                        </li>  
                        <li>
                            <a href="{% url 'hosting:login' %}?next={{request.current_path}}">{% trans "Login"%}</a>
                        </li>  -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% endif %}

    <div class="content-dashboard">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    {% if request.user.is_authenticated %}
    <footer class="footer-vm">
        <div class="container">
            <p class="copyright text-muted small">Copyright &copy; ungleich GmbH {% now "Y" %}. All Rights Reserved</p>
        </div>
    </footer>
    {% endif %}
    <!-- jQuery -->
    <script src="{% static 'hosting/js/jquery.js' %}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>
    <script src="{% static 'hosting/js/vendor/owl.carousel.min.js'%}"></script>
    <!-- Copy Clipboard -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'hosting/js/bootstrap.min.js' %}"></script>

    <!-- Virtual Machine Detail Javascript -->
    <script src="{% static 'hosting/js/virtual_machine_detail.js' %}"></script>

   <!-- Create Virtual Machine Javascript -->
    <script src="{% static 'hosting/js/createvm.js' %}"></script>

    <!-- Init JavaScript -->
    <script src="{% static 'hosting/js/initial.js' %}"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <!-- Stripe Lib -->

    <!-- Proccess payment lib -->
    <script type="text/javascript" src="{% static 'hosting/js/payment.js' %}"></script>

    <!-- Gen SSH Key lib -->
    <script type="text/javascript" src="{% static 'hosting/js/gen-ssh-key.js' %}"></script>

    <!-- Moment -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>



</body>

</html>
