{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="ungleich glarus ag">

    <title>{{ domain }} - {{ hosting }} hosting as easy as possible</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'datacenterlight/css/bootstrap-3.3.7.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'hosting/css/pricing.css' %}" rel="stylesheet">
    <link href="{% static 'hosting/css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'datacenterlight/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'hosting/img/favicon.ico' %}" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% with 'hosting/img/'|add:hosting|add:'-intro-bg.png' as image_static %}
    <style media="screen" type="text/css">
    .intro-header {
        background: url("{% static image_static %}") no-repeat center center;
    }
</style>
{% endwith %}

    <!-- Google analytics -->
    {% include "google_analytics.html" %}
    <!-- End Google Analytics -->

</head>
<body>

    <!-- Navigation -->
    {% include "hosting/includes/_navbar.html" %}

    <!-- Header -->
    {% include "hosting/includes/_header.html" %}

    <!-- Page Content -->
    <a name="how"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                  <h2 class="section-heading">How it works : </h2>
                  <ul class="fa-ul">
                    {% block specification %}
                    {% endblock %}
                  </ul>
                </div>
               {% with 'hosting/img/card-'|add:hosting|add:'.png' as image_static %}
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="{% static image_static %}" alt="">
                </div>
                {% endwith %}
            </div>
        </div><!-- /.container -->
    </div><!-- /.option 1 -->

    <!-- Your Infrastructure -->
    {% include "hosting/includes/_your_infrastructure.html" %}

    <!-- Our Infrastructure -->
    {% include "hosting/includes/_our_infrastructure.html" %}

    <!-- Pricing -->
    {% include "hosting/includes/_pricing.html" %}

    <!-- Contact -->
    {% include "hosting/includes/_contact.html" %}

    <!-- Footer -->
    {% include "hosting/includes/_footer.html" %}

    <!-- Pricing data -->
    {% if vm_types %}
    <script type="text/javascript">
         (function () {window.VMTypesData = "{{vm_types|safe}}";})();
    </script>
    {%endif%}


    <!-- Lodash -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js"></script>
    <!-- jQuery -->
    <script src="{% static 'datacenterlight/js/jquery-2.2.4.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'datacenterlight/js/bootstrap-3.3.7.min.js' %}"></script>

    <!-- Pricing -->
    <script src="{% static 'hosting/js/pricing.js' %}"></script>

</body>
</html>
