{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rails Hosting.ch - Ruby on Rails as easy as possible</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'hosting/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'hosting/css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{% static 'hosting/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'hosting/img/favicon.ico' %}" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google analytics -->
    {% include 'google_analytics.html' %}
    <!-- End Google Analytics -->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#"><img src="{% static 'hosting/img/logo_black.svg' %}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'hosting:index' %}#how">How it works</a>
                    </li>
                    <li>
                        <a href="{% url 'hosting:index' %}#your">Your infrastructure</a>
                    </li>
                   <li>
                        <a href="{% url 'hosting:index' %}#our">Our inftrastructure</a>
                    </li>
                    <li>
                        <a href="{% url 'hosting:index' %}#price">Pricing</a>
                    </li>
                    <li>
                        <a href="{% url 'hosting:index' %}#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
          <div class=".col-md-6">
    
                    <div class="intro-message"><img src="{% static 'hosting/img/checkmark.png' %}" class="responsive">
                      <p>Thank you  for your interest in joining Rails-Hosting Beta.<br>
                            We will come back to you shortly to give you access to our  infrastructure.
                      </p>
                    <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            
                        </ul>
            </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{% url 'hosting:index' %}">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'hosting:index' %}#how">How it works</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'hosting:index' %}#your">Your infrastructure</a></li>
                        <li>&sdot;</li>
                        <li>
                            <a href="{% url 'hosting:index' %}#our">Our infrastructure</a></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'hosting:index' %}#price">Pricing</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'hosting:index' %}#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; ungleich GmbH {% now "Y" %}. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'hosting/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'hosting/js/bootstrap.min.js' %}"></script>

</body>

</html>
