{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3 %}
{% load i18n %}

{% block content %}

    <div>
        <div class="container orders-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table borderless table-hover">
                        <h3>{% trans "Customers"%}</h3>
                        <br/>
                        <thead>
                        <tr>
                            <th>{% trans "Bill from"%}</th>
                            <th>{% trans "Total"%}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bill in bills %}
                            <tr>
                                <td>{{ bill.created_at }}</td>
                                <td>{{ bill.total_price }}</td>
                                <td>
                                    <button type="button" class="btn btn-default"><a
                                            href="{% url 'hosting:bills' bill.id %}">{% trans "View Bill"%}</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% if is_paginated %}
                        <div class="pagination">
			            <span class="page-links">
			                {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans "previous"%}</a>
                            {% endif %}
                            <span class="page-current">
			                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			                </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans "next"%}</a>
                            {% endif %}
			            </span>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>

    </div>

{% endblock %}
