{% load staticfiles i18n%}
<form id="order_form" method="POST" action="" data-toggle="validator" role="form">
    {% csrf_token %}
    <div class="price">
        <span id="total">15</span>
        <span>CHF/{% trans "Month" %}</span>
        <div class="price-text">
            <span>{% trans "VAT included" %}</span>
        </div>
    </div>
    <div class="descriptions">
        <div class="form-group">
            <div class="description input">
                <i class="fa fa-minus left" data-minus="cpu" aria-hidden="true"></i>
                <input class="input-price select-number" type="number" min="1" max="48" id="coreValue" name="cpu" data-error="{% trans 'Please enter a value in range 1 - 48.' %}" required>
                <span> Core</span>
                <i class="fa fa-plus right" data-plus="cpu" aria-hidden="true"></i>
            </div>
            <div class="help-block with-errors">
                {% for message in messages %}
                    {% if 'cores' in message.tags %}
                     <ul class="list-unstyled"><li>
                        {{ message|safe }}
                    </li></ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="description input">
                <i class="fa fa-minus left" data-minus="ram" aria-hidden="true"></i>
                <input id="ramValue" class="input-price select-number" type="number" min="2" max="200" name="ram"
                       data-error="{% trans 'Please enter a value in range 2 - 200.' %}" required>
                <span> GB RAM</span>
                <i class="fa fa-plus right" data-plus="ram" aria-hidden="true"></i>
            </div>
            <div class="help-block with-errors">
                {% for message in messages %}
                    {% if 'memory' in message.tags %}
                     <ul class="list-unstyled"><li>
                        {{ message|safe }}
                    </li></ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="description input">
                <i class="fa fa-minus left" data-minus="storage" aria-hidden="true"></i>
                <input id="storageValue" class="input-price select-number" type="number" min="10" max="2000" step="10"
                       name="storage" data-error="{% trans 'Please enter a value in range 10 - 2000.' %}" required>
                <span>{% trans "GB Storage (SSD)" %}</span>
                <i class="fa fa-plus right" data-plus="storage" aria-hidden="true"></i>
            </div>
            <div class="help-block with-errors">
                {% for message in messages %}
                    {% if 'storage' in message.tags %}
                     <ul class="list-unstyled"><li>
                        {{ message|safe }}
                    </li></ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="description select-configuration input justify-center">
                <label for="config">OS</label>
                <select name="config" id="">
                    {% for template in templates %}
                    <option value="{{template.opennebula_vm_template_id}}">{{template.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="help-block with-errors">
                {% for message in messages %}
                    {% if 'cores' in message.tags %}
                     <ul class="list-unstyled"><li>
                        {{ message|safe }}
                    </li></ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <input type="hidden" name="total">
    </div>
    <input type="submit" class="btn btn-primary disabled" value="{% trans 'Continue' %}"></input>
</form>
