{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3 i18n %}
{% block content %} 
<div>
    <div class="container dashboard-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3><i class="fa fa-server" aria-hidden="true"></i> {% trans "New Virtual Machine"%} </h3>
                <hr/>
                
                <form  method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        Select VM:
                        <select name="vm_template">
                            {% for vm in vm_types %}
                               
                                  <option value="{{vm.id}}">CORE: {{vm.cores}}, RAM: {{vm.memory}}, SSD: {{vm.disk_size}}  </option>
                                
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="form-group">
                        Select VM Configuration:
                        <select name="configuration">
                            {% for config in configuration_options %}
                                
                                <option value="{{config.0}}">{{config.1}} </option>
                                
                            {% endfor %}
                        </select>
                    </div>                          
                    <div class="form-group">
                        <button class="btn btn-success" >{% trans "Start VM"%} </button>                         
                    </div>
                </form>

            </div>

        </div>
    </div>

</div>

{%endblock%}