{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3%}
{% block content %}

<div class="intro-auth intro-login">
    <div class="container">
            <div class="col-md-4 col-md-offset-4">

                {% if messages %}
                    <ul class="list-unstyled">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% block messages %}
                    {% if request.GET.logged_out %}
                            <div class="alert">  <!-- singular -->
                                <a class="close" data-dismiss="alert">×</a>
                                You haven been logged out
                            </div>
                    {% endif %}
                {% endblock %}


                <div class="intro-message">
                    <h2 class="section-heading">Login</h2>
                    <form action="{% url 'hosting:login' %}" method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            {% bootstrap_field field show_label=False type='fields'%}
                        {% endfor %}
                        <p>{{form.non_field_errors|striptags}}</p>
                        {% buttons %}
                            <button type="submit" class="btn btn-default">
                                Login
                            </button>
                        {% endbuttons %}
                    </form>
                    <span>Don't have an account yet ? <a class="unlink" href="{% url 'hosting:signup' %}">Sign up</a></span>
                    <br/>
                    <span> <a class="unlink" href="{% url 'hosting:reset_password' %}">Forgot your password ?</a></span>

                    <ul class="list-inline intro-social-buttons">
                        
                    </ul>
                </div>
        </div>
    </div>
    <!-- /.container -->

</div>
{% endblock %}
