{% extends "hosting/base_short.html" %}
{% load i18n %}
{% load staticfiles bootstrap3%}
{% block content %}

<div class="intro-auth intro-login">
    <div class="container">
            <div class="col-md-4 col-md-offset-4">

                {% if messages %}
                    <ul class="list-unstyled">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% block messages %}
                    {% if request.GET.logged_out %}
                            <div class="alert">  <!-- singular -->
                                <a class="close" data-dismiss="alert">×</a>
                                {% trans "You haven been logged out"%}
                            </div>
                    {% endif %}
                {% endblock %}


                <div class="intro-message">
                    <h2 class="section-heading">{% trans "Login"%}</h2>
                    <form action="{% url 'hosting:login' %}" method="post" class="form" novalidated>
                        {% csrf_token %}
                        {% for field in form %}
                            {% bootstrap_field field show_label=False type='fields'%}
                        {% endfor %}
                        <p>{{form.non_field_errors|striptags}}</p>
                        {% buttons %}
                            <button type="submit" class="btn btn-default">
                                {% trans "Login"%}
                            </button>
                        {% endbuttons %}
                    </form>
                    <span>{% trans "Don't have an account yet ? "%}<a class="unlink" href="{% url 'hosting:signup' %}">{% trans "Sign up"%}</a></span>
                    <br/>
                    <span> <a class="unlink" href="{% url 'hosting:reset_password' %}">{% trans "Forgot your password ? "%}</a></span>

                    <ul class="list-inline intro-social-buttons">
                        
                    </ul>
                </div>
        </div>
    </div>
    <!-- /.container -->

</div>
{% endblock %}
