{% extends "hosting/base_short.html" %}
{% load staticfiles i18n %}

{% block content %}
<div id="order-detail{{order.pk}}" class="order-detail-container">
    {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    {% if not error %}
        <div class="dashboard-container-head">
            <h1 class="dashboard-title-thin">
                <img src="{% static 'hosting/img/billing.svg' %}" class="un-icon">{% trans "Invoice" %}
            </h1>
            <div class="dashboard-container-options">
                <button type="button" class="btn-plain btn-pdf" data-target="#order-detail{{order.pk}}"><img src="{% static 'hosting/img/icon-pdf.svg' %}" class="svg-img"></button>
                <button type="button" class="btn-plain btn-print"><img src="{% static 'hosting/img/icon-print.svg' %}" class="svg-img"></button>
            </div>
        </div>
        <div class="order-details">
            <p>
                <strong>{% trans "Order #" %} {{order.id}}</strong>
            </p>
            <p>
                <strong>{% trans "Date" %}:</strong>
                <span class="locale_date">
                    {% if order %}
                        {{order.created_at|date:'Y-m-d h:i a'}}
                    {% else %}
                        {% now "Y-m-d h:i a" %}
                    {% endif %}
                </span>
            </p>
            <p>
                <strong>{% trans "Status" %}: </strong>
                <strong>
                    {% if vm.terminated_at %}
                        <span class="vm-color-failed">{% trans "Terminated" %}</span>
                    {% elif order.status == 'Approved' %}
                        <span class="vm-color-online">{% trans "Approved" %}</span>
                    {% else %}
                        <span class="vm-status-failed">{% trans "Declined" %}</span>
                    {% endif %}
                </strong>
            </p>
            <hr>
            <div>
                <address>
                    <h4>{% trans "Billed to" %}:</h4>
                    <p>
                        {{user.name}}<br>
                        {{order.billing_address.street_address}}, {{order.billing_address.postal_code}}<br>
                        {{order.billing_address.city}}, {{order.billing_address.country}}
                    </p>
                </address>
            </div>
            <hr>
            <div>
                <h4>{% trans "Payment method" %}:</h4>
                <p>
                    {{order.cc_brand}} {% trans "ending in" %} ****
                    {{order.last4}}<br>
                    {{user.email}}
                </p>
            </div>
            <hr>
            <div>
                <h4>{% trans "Order summary" %}</h4>
                <p>
                    <strong>{% trans "Product" %}:</strong>&nbsp;
                    {{ vm.name }}
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        {% if vm.created_at %}
                            <p>
                                <span>{% trans "Period" %}: </span>
                                <span>
                                    <span class="locale_date" data-format="YYYY/MM/DD">{{ vm.created_at|date:'Y-m-d h:i a' }}</span> - <span class="locale_date" data-format="YYYY/MM/DD">{{ subscription_end_date|date:'Y-m-d h:i a' }}</span>
                                </span>
                            </p>
                        {% endif %}
                        <p>
                            <span>{% trans "Cores" %}: </span>
                            <span class="pull-right">{{vm.cores|floatformat}}</span>
                        </p>
                        <p>
                            <span>{% trans "Memory" %}: </span>
                            <span class="pull-right">{{vm.memory}} GB</span>
                        </p>
                        <p>
                            <span>{% trans "Disk space" %}: </span>
                            <span class="pull-right">{{vm.disk_size}} GB</span>
                        </p>
                        <p>
                            <span>{% trans "Total" %}</span>
                            <span class="pull-right">{{vm.price}} CHF</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="text-center" style="margin-bottom: 50px;">
    <a class="btn btn-vm-back" href="{% url 'hosting:orders' %}">{% trans "BACK TO LIST" %}</a>
</div>

<script type="text/javascript">
    {% trans "Some problem encountered. Please try again later." as err_msg %}
    var create_vm_error_message = '{{err_msg|safe}}';
    window.onload = function () {
        var locale_dates = document.getElementsByClassName("locale_date");
        var formats = ['YYYY-MM-DD hh:mm a']
        var i;
        for (i = 0; i < locale_dates.length; i++) {
            var oldDate = moment.utc(locale_dates[i].textContent, formats);
            var outputFormat = locale_dates[i].getAttribute('data-format') || oldDate._f;
            locale_dates[i].innerHTML = oldDate.local().format(outputFormat);
            locale_dates[i].className += ' done';
        }
    };
</script>
{%endblock%}

{% block js_extra %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="{% static 'hosting/js/html2pdf.js' %}"></script>
    <script src="{% static 'hosting/js/order.js' %}"></script>
{% endblock js_extra %}
