{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3 i18n %}

{% block navbar %}
    {% include  'hosting/includes/_navbar_transparent.html' %}
{% endblock navbar %}

{% block content %}
<div class="auth-container">
   <div class="auth-bg"></div>
    <div class="auth-center">
            <div class="auth-title">
                <h2>{% trans "Your VM hosted in Switzerland"%}</h2>
            </div>
            <div class="auth-content">
                <div class="intro-message auth-box sign-up">
                    <h2  class="section-heading">{{section_title}}</h2>
                    <div class="sign-up-message">
                         {{message}}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
