{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3 i18n %}

{% block navbar %}
    {% include  'hosting/includes/_navbar_transparent.html' %}
{% endblock navbar %}

{% block content %}
<div class="auth-container auth-signup">
   <div class="auth-bg"></div>
    <div class="auth-center ">
        <div class="auth-title">
            <h2>{% trans "Your VM hosted in Switzerland"%}</h2>
        </div>
        <div class="auth-content">
            <div class="intro-message auth-box sign-up">
                <h2  class="section-heading">{% trans "Sign up"%}</h2>
                <form action="{% url 'hosting:signup' %}" method="post" class="form" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        {% bootstrap_field field show_label=False %}
                    {% endfor %}
                    {% buttons %}
                        <button type="submit" class="btn btn-block btn-info">
                            {% trans "Sign up"%}
                        </button>
                    {% endbuttons %}
                </form>
                <div class="auth-footer">
                    <div class="text">
                        <span>{% trans "Already have an account ?"%}</span>
                    </div>
                    <div class="links">
                       <a class="unlink" href="{% url 'hosting:login' %}">{% trans "Login"%}</a>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}
