{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3%}
{% block content %}
    <div class="intro-auth intro-signup">
        <div class="container">
            <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="intro-message">
                    <h2  class="section-heading">Sign up</h2>

                    <form action="{% url 'hosting:signup' %}" method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            {% bootstrap_field field show_label=False %}
                        {% endfor %}
                        {% buttons %}
                            <button type="submit" class="btn btn-default">
                                Sign up
                            </button>
                        {% endbuttons %}
                    </form>
                    <span>Already have an account ? <a class="unlink" href="{% url 'hosting:login' %}">Log in</a></span>
                    <ul class="list-inline intro-social-buttons">
                    </ul>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
