{% extends "hosting/base_short.html" %}
{% load staticfiles bootstrap3 %}
{% load i18n %}

{% block content %} 
<div>
	<div class="virtual-machine-container dashboard-container ">
		<div class="row">
			<div class="col-md-9 col-md-offset-2">
				 <div  class="col-sm-12">
				        <h3><i class="fa fa-cloud fa-separate" aria-hidden="true"></i> {{virtual_machine.name}}</h3>
				        <hr/>
				        <div class="col-md-3"> <!-- required for floating -->
				          <!-- Nav tabs -->
				          <ul class="nav nav-tabs tabs-left sideways">
				            <li class="active">
				            	<a href="#settings-v" data-toggle="tab">
				            		<i class="fa fa-cogs" aria-hidden="true"></i>
				            		{% trans "Settings"%}
				            	</a>
				            </li>
				            <li>
				            	<a href="#billing-v" data-toggle="tab">
				            		<i class="fa fa-money" aria-hidden="true"></i>
				            		{% trans "Billing"%}
				            	</a>
				            </li>
				            <li>
				            	<a href="#status-v" data-toggle="tab">
				            		<i class="fa fa-signal" aria-hidden="true"></i> {% trans "Status"%}
				            	</a>
				            </li>
				          </ul>
				        </div>

				        <div class="col-md-9">
				          <!-- Tab panes -->
				          <div class="tab-content">
				            <div class="tab-pane active" id="settings-v">
				            	<div class="row">
									<div class="col-md-12 inline-headers">
									<h3>{{virtual_machine.hosting_company_name}}</h3>

										{% if virtual_machine.ipv6 %}
											<div class="pull-right right-place">
												<button type="link"
					data-clipboard-text="{{virtual_machine.ipv4}}" id="copy_vm_id" class="to_copy btn btn-link"
													data-toggle="tooltip"  data-placement="bottom" title="Copied"  data-trigger="click">
														Ipv4: {{virtual_machine.ipv4}} <i class="fa fa-files-o" aria-hidden="true"></i> 
												</button>
												<button type="link"
					data-clipboard-text="{{virtual_machine.ipv6}}" id="copy_vm_id" class="to_copy btn btn-link"
													data-toggle="tooltip"  data-placement="bottom" title="Copied"  data-trigger="click">
														Ipv6: {{virtual_machine.ipv6}} <i class="fa fa-files-o" aria-hidden="true"></i> 
												</button>
											</div>
										{% else %}

											<div class="pull-right right-place">
												<span class="label label-warning"><strong>{% trans "Ip not assigned yet"%}</strong></span>
												<i data-toggle="tooltip"  title="Your ip will be assigned soon" class="fa fa-info-circle" aria-hidden="true"></i> 
											</div>

										{% endif %}

									<hr>

									</div>
				            	</div>
								<div class="row">
								  <div class="col-md-12">
								    <div class="row">
								      <div class="col-md-3">
								        <div class="well text-center box-setting">
								        	<i class="fa fa-cubes" aria-hidden="true"></i>
								        	<span>{% trans "Cores"%}</span>
								        	<span class="label label-success">{{virtual_machine.cores}}</span>
								        </div>
								      </div>
								      <div class="col-md-3">
								        <div class="well text-center box-setting">
								        	<i class="fa fa-tachometer" aria-hidden="true"></i> {% trans "Memory"%} <br/>
								        	<span class="label label-success">{{virtual_machine.memory}} GB</span>
								        </div>
								      </div>
								      <div class="col-md-3">
								        <div class="well text-center box-setting">
								        	<i class="fa fa-hdd-o" aria-hidden="true"></i> 
								        	<span>{% trans "Disk"%}</span>
								        	<span class="label label-success">{{virtual_machine.disk_size|floatformat:2}} GB</span>
								        </div>
								      </div>
								    </div><!--/row-->    
								  </div><!--/col-12-->
								</div><!--/row-->
								<div class="row">
									<div class="col-md-12">
										{% trans "Configuration"%}: {{virtual_machine.configuration}}
									</div>
								</div>


				            </div>
				            <div class="tab-pane" id="billing-v">

				            	<div class="row ">
									<div class="col-md-12 inline-headers">
										<h3>{% trans "Current pricing"%}</h3>
										<span class="h3 pull-right"><strong>{{virtual_machine.price|floatformat}} CHF</strong>/month</span> 
										<hr>
									</div>
				            	</div>
				            </div>
				            <div class="tab-pane" id="status-v">
				            	<div class="row ">
									<div class="col-md-12 inline-headers">
										<h3>{% trans "Current status"%}</h3>

										<div  class="pull-right space-above">
											{% if virtual_machine.state == 'PENDING' %}
												<span class="label
                                                    label-warning"><strong>Pending</strong></span>
											{% elif  virtual_machine.state == 'ACTIVE' %}
												<span class="label
                                                    label-success"><strong>Online</strong></span>
											{% elif  virtual_machine.state == 'FAILED'%}
												<span class="label
                                                    label-danger"><strong>Failed</strong></span>
											{% endif %}
										</div>
									</div>
				            	</div>
				            	{% if not virtual_machine.status == 'canceled' %}
				            	<div class="row">
									<div class="col-md-12 separate-md">
										<div class="pull-right">
											<form method="POST"
                 id="virtual_machine_cancel_form" class="cancel-form" action="{% url 'hosting:virtual_machines' virtual_machine.vm_id %}">
											{% csrf_token %} 
											</form>	
												
												<button type="text" data-href="{% url 'hosting:virtual_machines' virtual_machine.vm_id %}" data-toggle="modal" data-target="#confirm-cancel" class="btn btn-danger">{% trans "Terminate Virtual Machine"%}</button>
																						
										</div>
    
									</div>
                                    <div class="col-md-12">
                                        <br/>
                                        {% if messages %}
                                            <div class="alert alert-warning">
                                                {% for message in messages %}
                                                <span>{{ message }}</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>

									<!-- Cancel Modal -->
									<div class="modal fade" id="confirm-cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									    <div class="modal-dialog">
									        <div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
															aria-label="Confirm"><span
															aria-hidden="true">&times;</span>
													</button>
												</div>
									            <div class="modal-body">
													<div class="modal-icon"><i class="fa fa-question" aria-hidden="true"></i></div>
													<h4 class="modal-title" id="ModalLabel">{% trans "Terminate your Virtual Machine"%}</h4>
									                <p class="modal-text">{% trans "Are you sure do you want to cancel your Virtual Machine "%} {{virtual_machine.name}} ?</p>
									            </div>
									            <div class="modal-footer">
									                <!--button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel"%}</button-->
									                <a class="btn btn-danger btn-ok">OK</a>
									            </div>
									        </div>
									    </div>
									</div>
									<!-- / Cancel Modal -->
				            	</div>
				            	{% endif %}
				            </div>
				          </div>
				        </div>

				        <div class="clearfix"></div>
				</div>
			</div>

	    </div>
	</div>

</div>

{%endblock%}
