{% load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'ungleich_page/css/404.css' %}" rel="stylesheet">
        <title>404 | ungleich</title>
    </head>
    <body>

        <div class="error">
            <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
            <h3 class="font-bold">We couldn't find the page..</h3>

            <div class="error-desc">
                Sorry, but the page you are looking for was either not found or does not exist. <br/>
                Try refreshing the page or click the button below to go back to the Homepage.
                <div>
                    <a class=" login-detail-panel-button btn" href="{% url 'ungleich_page:landing' %}">
                            <i class="fa fa-arrow-left"></i>
                            Go back to Homepage                        
                        </a>
                </div>
            </div>
        </div>

    </body>
</html>
