
{% load static %}
{% load i18n %}

	<div class="level level-img-right" id="details">

		<div class="container xs-mb-30">
			<img class=img-right-sprite src="{% static 'landing_page/img/v2/iphone-bg-lg.min.png' %}" alt>
			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-6 col-lg-offset-1 col-lg-5">
					<h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">HOSTING PRODUCTS</h1>
					<h2 class="w-300 color-dark mb-10">100% IPv6</h2>
					<p class=xs-mw>100% SSD. We bring the future to you.
				</div>
			</div>

		<div class="visible-xs xs-mw xs-mb-40">
			<img src="{% static 'landing_page/img/v2/iphone-mobile.min.png '%}" alt>
		</div>

			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-1 col-lg-offset-1">
					<i class="icon icon-globe"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<h3 class="mb-15">HA Hosting</h3>
					<p class="smaller xs-mw">We offer high availablity hosting (HA) in Germany and in Switzerland. Our infrastructure is powered by Free and Open Source Software like OpenNebula, Qemu and GlusterFS.
				</div>
			</div>

			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-1 col-lg-offset-1">
					<i class="icon icon-eye"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<h3 class="mb-15">Rails Hosting</h3>
					<p class="smaller xs-mw">Ready to go live with your Ruby on Rails application? We offer you ready-to-deploy virtual machines or configure your existing infrastructure for Ruby on Rails.
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-offset-1">
					<i class="icon icon-bubble"></i>
				</div>
				<div class="col-sm-4 col-md-3">
					<h3 class="mb-15">Configuration as a Service</h3>
					<p class="smaller xs-mw">You are in need for a configuration?
With ungleich you have found an experienced team that configure your systems to provide service like DNS, E-Mail, Databases or Webservers.
				</div>
			</div>
		</div>

	</div>