{% load static %}
{% load i18n %}

<div class="header">
			<div class="container rel text-left">
				<a class="brand brand-color" href="/">
					<img src="{% static 'ungleich_page/img/logo_200x200.svg' %}" style="    height: 50px;">
				</a>

						<nav class="nav">
					<ul>
						</li><li class="active"><a href="/whyungleich/">Why Ungleich</a>
					</li>
						</li><li class="active"><a href="/#services">Services</a>
					</li>
                        </li>
						</li><li class="active"><a href="/#details">Products</a>
					</li>
                        </li>
						</li><li class="active"><a href="/#clients">Clients</a>
					</li>

                    </ul>
				</nav>
			</div>
		</div>