{% load static %}
{% load i18n %}

<div class="level level-hero hero-home has-hint">


		<div class="hero-overlay visible-lg"></div>

		<video loop id=bg-video class=fullscreen-video>
			<source src="http://alvarez.is/bt/appi.webm" type="video/webm">
			<source src="http://alvarez.is/bt/appi.mp4" type="video/mp4">

		</video>

<!-- Headers -->
{% include "landing_page/includes/_header_video.html" %}




		<div class="container full-height">
			<div class=v-align-parent>
				<div class=v-center>
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<h1 class="mb-10 heading" style="text-transform: none;">The BEST and AFFORDABLE
							<span><br class=hidden-xs>VM hosting in Switzerland!</br></span></h1>
							<div class="subheading mb-20"><br class=hidden-xs>We design, configure & maintain your LINUX infrastructure. </div>
						</div>
					</div>
					<div>
						<a class="btn btn-prepend btn-launch-video" href="#">
							<i class="prepended icon-append-play"></i>Why Ungleich ?
						</a>
						<a class="btn btn-prepend" href="#wantit">
							<i class="prepended icon-append-iphone"></i>I WANT IT
						</a>
					</div>
				</div>
			</div>

			<div class=hint-arrow></div>
		</div>
	</div>