
{% load static %}
{% load i18n %}
	<div class="level level-img-right" id="scale-out">

		<div class="container xs-mb-30">


			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-10 col-lg-offset-1 col-lg-10">
					<h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Scale out</h1>
				</div>
				<div class="col-sm-6 col-lg-offset-1 col-lg-6">

					<h2 class="w-300 color-dark mb-10">We don't use special hardware. We use commodity hardware: we buy computers that you buy. Just many more and put them in a cozy home for computers called data center.</h2>

				</div>
				<div class="col-sm-4 col-lg-offset-1 col-lg-4">
					<img src="/static/ungleich_page/img/portfolio/treehouse.png" class="img-responsive inline-block" alt="">
				</div>
			</div>

		</div>

	</div>

	<div class="level level-img-right" id="reliable">

		<div class="container xs-mb-30">


			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-10 col-lg-offset-1 col-lg-10">
					<h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Reliable and Light</h1>
				</div>
				<div class="col-sm-4 col-lg-offset-1 col-lg-4">
					<img src="/static/ungleich_page/img/portfolio/roundicons.png" class="img-responsive inline-block" alt="">
				</div>
				<div class="col-sm-4 col-lg-offset-1 col-lg-6">

					<h2 class="w-300 color-dark mb-10">Our VMs are located in Switzerland, with reliable power supply and fast internet connection. Our VM costs less thanks to our featherlight infrastructure.</h2>

				</div>

			</div>

		</div>

	</div>