{% load static %}
{% load  bootstrap3 %}
{% load i18n %}

	<div class=level style="padding: 50px 0 30px;" id="services">
        <!-- Headers -->
{% include "landing_page/includes/_header_main.html" %}
		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
					<h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">Our Services<br class=hidden-xs>are highlights</h1>
					<p class="xs-mw color-dark"><br class=hidden-xs>Only wants you to pay for what you actually need.</br></p>
						<p class="xs-mw color-dark"><br class=hidden-xs>Cuts down the costs for you by using FOSS (Free Open Source Software) exclusively, wherefore we can save money from paying licenses.</br></p>


				</div>
				<div class="col-sm-5 col-sm-offset-1">
						<h2 class="w-300 color-dark mb-10 xs-mb-10">We support our clients in all areas of Unix infrastructure.</h2>
						<p class="xs-mw color-dark"><br class=hidden-xs>Our top notch configuration management is refreshingly simple and reliable.</br></p>
						<p class="xs-mw color-dark"><br class=hidden-xs>Only wants you to pay for what you actually need.</br></p>
						<p class="xs-mw color-dark"><br class=hidden-xs>Cuts down the costs for you by using FOSS (Free Open Source Software) exclusively, wherefore we can save money from paying licenses.</br></p>

				</div>
			</div>
		</div>
		<img src="/static/landing_page/img/v2/iphone6.min.png" alt="" class="mb-80 hidden-xs iphone-inline">





		<div class=container>
			<div class="row mb-90 xs-mb-0">

				<div class="col-sm-1 col-sm-offset-2">
					<i class="icon icon-check"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Hosting</h3>
					<p class="smaller xs-mb-40 xs-mw">Ruby on Rails. Java hosting, Django hosting, we make it everything run smooth and safe.
				</div>

				<div class="col-sm-1">
					<i class="icon icon-calendar"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Configuration as a Service</h3>
					<p class="smaller xs-mb-40 xs-mw">Ruby on Rails, Django, Java, Webserver, Mailserver, any infrastructure that needs to configured, we provide comprehensive solutions. Amazon, rackspace or bare metal servers, we configure for you.
				</div>

			</div>

			<div class=row>

				<div class="col-sm-1 col-sm-offset-2">
					<i class="icon icon-user"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Linux System Engineering</h3>
					<p class="smaller xs-mb-40 xs-mw">Let your developers develop! We take care of your system administration. Gentoo, Archlinux, Debian, Ubuntu, and many more.
				</div>

				<div class="col-sm-1">
					<i class="icon icon-clock"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">On Time</h3>
					<p class="smaller xs-mb-40 xs-mw">
Is creative, using a modern and alternative design for a data center in order to make it more sustainable and affordable at the same time.
				</div>

			</div>

		</div>

	</div>