{% extends "digitalglarus/base.html" %}
{% load staticfiles cms_tags %}
{% block title %}About{% endblock %}

{% block content %}
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">{% placeholder 'digitalglarus_why_us' %}</h2>
      <hr>
    </div>
    <div class="col-md-6">
      <img class="img-responsive img-border-left" src="{% static 'digitalglarus/img/img_4.png' %}" alt="">
    </div>
    <div class="col-md-6">
      <p>
	{% placeholder 'digitalglarus_why_us_content' %}
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
	{% placeholder 'digitalglarus_why_glarus' %}
      </h2>
      <hr>
    </div>
    <div class="col-sm-4 text-center">
      <img class="img-responsive" src="{% static 'digitalglarus/img/img_1.jpg' %}" alt="">
      <h3>
	{% placeholder 'digitalglarus_why_glarus_beautiful_landscape' %}
      </h3>
    </div>
    <div class="col-sm-4 text-center">
      <img class="img-responsive" src="{% static 'digitalglarus/img/price_1.jpg' %}" alt="">
	{% placeholder 'digitalglarus_why_glarus_affordable_price' %}
      </h3>
    </div>
    <div class="col-sm-4 text-center">
      <img class="img-responsive" src="{% static 'digitalglarus/img/img_3.jpg' %}" alt="">
      {% placeholder 'digitalglarus_why_glarus_direct_connection_zurich' %}
      </h3>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

</div>
<!-- /.container -->

{% endblock %}
